{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% block title %}
    {% if user.is_authenticated %}
        {% trans 'Мои магазины' %}
    {% else %}
        {% trans 'Магазины аккаунта' %}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb col-md-12 mt-5 mb-5">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="{% url 'users:account-detail' pk=user.id %}">
                        {% trans 'Профиль' %} {{ account.username }}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="breadcrumb-item active" aria-current="page">{% trans 'Мои магазины' %}</li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">{% trans 'Магазины' %}</li>
                {% endif %}
            </ol>
        </nav>
        <div class="row pb-5 col-md-12">
            <div class="col-md-3">
                {% include 'account-sidebar-block.html' %}
            </div>
            <div class="col-md-9">
                {% if user.is_authenticated %}
                    <h1 class="h1 title">{% trans 'Мои магазины' %}</h1>
                {% else %}
                    <h1 class="h1 title">{% trans 'Магазины' %} {{ account.username }}</h1>
                {% endif %}

                <div class="product-list card-columns mt-5">
                    {% for shop in shops %}
                        <div class="card card-product-grid">
                            <a class="img-wrap" href="{% url 'shops:shop-page' pk=shop.id %}">
                                {% if shop.brand_image %}
                                    <img class="card-img-top" height="100%" width="100%"
                                         src="{% thumbnail shop.brand_image 100x100 crop=scale %}"
                                         alt="{{ shop.name }}">
                                {% endif %}

                                <div class="card-body">
                                    <h5 class="h5 text-decoration-none text-black-50">{{ shop.name }}</h5>
                                    <div class="mt-3">
                                        {% if user.id == shop.owner_id %}
                                            <a class="btn btn-danger mt-2"
                                               href="{% url 'shops:shop-info-edit' pk=shop.id %}">{% trans 'Управление' %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}