{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}
{% load i18n %}


{% block title %}{% trans 'Магазин: ' %}{{ shop.name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row store mt-5 mb-5">
        <div class="store__logo mr-3">
            {% if shop.brand_image %}
            <img class="brand__logo" height="58" width="56"
                 src="{% thumbnail shop.brand_image 131x131 crop=scale %}" alt="{{ shop.name }}">
            {% else %}
            <img width="56" height="58" src="{% static 'img/slider/no-image.png' %}">
            {% endif %}

        </div>
        <div class="store-header">
            <h2 class="store-title">
                {{ shop.name }}
            </h2>
            <div class="store-subtitle mt-1">
                {{ shop.description }}
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="title">
        {% trans 'Все товары в' %} "{{ shop.name }}"
    </h2>
    <div class="product-list row mt-3">

        {% if product_count > 0 %}
        {% for product in shop.product_sets.all %}

        <div class="col-xl-4 col-lg-4 col-sm-5 col-md-6">
            {% include 'main/product-card.html' %}
        </div>

        {% endfor %}
    </div>

    {% else %}

    <h1 class="h1">{% trans 'Нет товаров' %}</h1>

    {% endif %}
    <span id="message"></span>
</div>
{% endblock %}
{% block script %}
<script>

        window.addEventListener("load", function (event) {

            $(".js-btn-add-cart").click(function () {

                {#$(this).addClass('disabled')#}

                let product_id = $(this).data("product_id");
                let product_url = $(this).data("product_url");

                $.ajax({
                    method: 'post',
                    url: product_url,
                    data: {
                        'user': {{ user.id }},
                        'product_id': product_id,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    dataType: 'json',

                }).done(function (response) {


                    console.log("resp", response.message)

                    if (response.message === "success") {
                        $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Товар успешно добавлен в корзину!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                        $('.alert').fadeOut(3000, function () {
                            $('#alertFadeOut').text('');
                        });
                    }
                })
            })
        })


</script>

{% endblock %}
