{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Request created!' %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="mt-5">
            <div class="col-8 mx-auto">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>{% trans 'В ближайшее время с вами свяжется менеджер' %}</p>
                </div>
                <a class="btn btn-light" href="/">{% trans 'На главную' %}</a>
            </div>
        </div>
    </div>

{% endblock %}