{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}

{% load crispy_forms_filters %}

{% block title %}{% trans 'Создание магазина' %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="mt-5">
            <div class="col-8 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="Отправить заявку">
                </form>
            </div>
        </div>
    </div>

{% endblock %}