{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}
{% load counter %}
{% load thumbnail %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/owl-item.css' %}">
{% endblock %}

{% block title %}{% trans 'Все магазины' %}{% endblock %}

{% block content %}
    <div class="shop-page-header mt-5">
        <div class="page-name title">
            {% trans 'Магазины' %}
        </div>
        <div class="page-subtitle">
            {% trans 'Всего магазинов: ' %}{{ shops_count }}
        </div>
    </div>
    <div class="container">
        <div class="row store-grid__sliders mt-5">
            {% for shop in shop_list %}
                <div class="shop-card">
                    <a href="{{ shop.get_absolute_url }}">
                        <div class="shop-brand">
                            {% if shop.brand_image %}
                                <img class="brand__logo" height="58" width="56"
                                     src="{% thumbnail shop.brand_image 131x131 crop=scale %}"
                                     alt="{{ shop.name }}">
                            {% else %}
                                <img width="56" height="58" src="{% static 'img/slider/no-image.png' %}"
                                     alt="{{ shop.name }}">
                            {% endif %}

                            <div class="shop-name-brand">
                                <h2 class="shop-title">
                                    {{ shop.name|truncatewords:5 }}
                                </h2>
                                <div class="shop-subtitle">
                                    {{ shop.description|truncatechars:100 }}
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="shop-slider p-4 rounded">
                        <div class="owl-carousel slider-2 owl-theme owl-loaded">
                            <div class="owl-stage-outer">
                                <div class="owl-stage">
                                    {# TODO: fix product-set limit if many products in shop #}
                                    {% for product in shop.product_sets.all %}
                                        {% include 'main/owl-item.html' %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
