{% extends 'layout/base-shop.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Заказы' %} {% endblock %}

{% block content %}
    <div id="main-wrapper">
        {% include 'layout/menu.html' %}
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">{% trans 'Список заказов' %}</h3>
                    </div>
                </div>


                <div class="content justify-content-center">

                    <div class="card">
                        <div class="card-block">
                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <th scope="col">{% trans 'ID заказа' %}</th>
                                    <th scope="col">{% trans 'Инфо заказа' %}</th>
                                    <th scope="col">{% trans 'Список товаров' %}</th>
                                    <th scope="col">{% trans 'Цена зазака' %}</th>
                                    <th scope="col">{% trans 'Статус' %}</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <th scope="row">{{ order.id }}</th>
                                        <td>
                                            <ul>
                                                <li><b>{% trans 'Магазин' %}</b>: {{ order.cart }}</li>
                                                <li><b>{% trans 'Адрес доставки' %}</b>: {{ order.customer_address }}
                                                </li>
                                                <li><b>{% trans 'Заказчик' %}</b>: {{ order.customer_name }}</li>
                                                <li><b>{% trans 'Почта' %}</b>: {{ order.customer_email }}</li>
                                                <li><b>{% trans 'Номер телефона' %}</b>: {{ order.customer_phone }}</li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul>{% for item in order.cart.cart_items %}
                                                <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                                                <li>{{ item.shop }}</li>
                                                <li>{{ item.price }}</li>
                                                <hr>
                                            {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            {{ order.total_price }}
                                        </td>
                                        <td>
                                            {{ order.status }}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}