{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}
{#{% load counter %}#}
{% load thumbnail %}

{% block title %}{% trans 'Список товаров магазина' %} - {{ shop.name }} {% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row align-content-center col-12">
                    <h1 class="h1 mt-5 col">{{ shop_name }}</h1>
                    <div class="mt-auto">
                        <a href="{% url 'shops:shop-product-create' shop_pk=shop.id %}"
                           class="btn btn-info">{% trans 'Добавить товар' %}</a>
                    </div>
                </div>
                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Название' %}</th>
                        <th scope="col">{% trans 'Описание' %}</th>
                        <th scope="col">{% trans 'Цена' %}</th>
                        <th scope="col">{% trans 'Статус' %}</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <th scope="row">{{ product.id }}</th>
                            <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                            <td>{{ product.description|truncatechars:200 }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.is_active }}</td>
                            <td><a class="btn btn-info"
                                   href="{% url "shops:shop-product-edit" shop_pk=product.shop.id pk=product.id %}">{% trans 'Изменить' %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="grid-img-right mt-4 text-right bg bg1">
            {% include 'layout/pagination.html' %}
        </div>
    </div>

{% endblock %}
