{% extends 'layout/base-delivery.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Статистика' %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/statistic.css' %}">
{% endblock %}

{% block content %}
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="app-header header-shadow bg-primary header-text-light">   {# шапка #}
            <div class="app-header__logo">
                <h4 style="color: white">Senca.Delivery</h4>

                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                                data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="app-main">
            {% include 'layout/left-menu.html' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="row">
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content bg-midnight-bloom">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">{% trans 'Всего заказов' %}</div>
                                        <div class="widget-subheading">{% trans 'Выполненые заказы' %}</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-white"><span>{{ count_orders_open }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content bg-grow-early">
                                <div class="widget-content-wrapper text-white">
                                    <div class="widget-content-left">
                                        <div class="widget-heading">{% trans 'Заработано' %}</div>
                                        <div class="widget-subheading">{% trans 'Сумма в лари' %}</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers text-white"><span>{{ sum_delivery }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">

                                <div class="card-header">{% trans 'Список выполненных заказов' %}
                                    {# FIXME name#}
                                    {#                                    <div class="btn-actions-pane-right">#}
                                    {#                                        <div role="group" class="btn-group-sm btn-group">#}
                                    {#                                            <button class="active btn btn-focus">Last Week</button>#}
                                    {#                                            <button class="btn btn-focus">All Month</button>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                </div>
                                <div class="table-responsive">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center">{% trans 'Номер заказа' %}</th>
                                            <th class="text-center">{% trans 'Дата заказа' %}</th>
                                            <th class="text-center">{% trans 'Статус' %}</th>
                                            {#                                            <th>{% trans 'Магазин' %}</th>#}
                                            <th class="text-center">{% trans 'Товар' %}</th>
                                            <th class="text-center">{% trans 'Адрес доставки' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in all_orders %}
                                            <tr>
                                                <td class="text-center text-muted">{{ order.id }}</td>
                                                <td class="text-center text-muted">{{ order.created_at }}</td>
                                                <td class="text-center text-muted">{{ order.status }}</td>
                                                {#                                                <td>#}
                                                {#                                                    <div class="widget-content p-0">#}
                                                {#                                                        <div class="widget-content-wrapper">#}
                                                {#                                                            <div class="widget-content-left flex2">#}
                                                {#                                                                <div class="widget-heading">{{ order.shop }}</div>#}
                                                {#                                                                <div class="widget-subheading opacity-7">{{ order.shop.address }}</div>#}
                                                {#                                                            </div>#}
                                                {#                                                        </div>#}
                                                {#                                                    </div>#}
                                                {#                                                </td>#}
                                                <td class="">
                                                    <ul>
                                                        {% for product in order.product_list %}
                                                            <li> {{ product.name }}
                                                                - {{ product.price }} {{ product.currency.name }}</li>
                                                        {% endfor %}

                                                    </ul>
                                                </td>
                                                <td class="text-center">{{ order.customer_address }}</td>
                                                <td class="text-center">
                                                    {% if order.status == 'Принят' %}
                                                        <button type="button" id="PopoverCustomT-1"
                                                                style="border-color: #16aaff; background-color: #16aaff"
                                                                class="btn btn-primary btn-sm">
                                                            <a href="{% url 'delivery:order-detail' pk=order.pk %}"
                                                               style="text-decoration: none; color: white">{% trans 'Принят' %}</a>
                                                        </button>
                                                    {% elif order.status == 'Закрыт' %}
                                                        <button type="button" id="PopoverCustomT-1"
                                                                style="border-color: #3ac47d; background-color: #3ac47d"
                                                                class="btn btn-primary btn-sm">
                                                            <a href="{% url 'delivery:order-detail' pk=order.pk %}"
                                                               style="text-decoration: none; color: white">{% trans 'Детали' %}</a>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
