{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% load crispy_forms_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block title %}{% trans 'Настройка' %}{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb col-md-12 mt-5 mb-5">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="{% url 'users:account-detail' pk=user.id %}">
                            {% trans 'Профиль' %}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans 'Настройки' %}</li>
                </ol>
            </nav>
            <div class="row pb-5">
                <div class="sidebar col-md-3">
                    {% include 'account-sidebar-block.html' %}
                </div>
                <section class="account-profile col-md-8">
                    <div class="display-4 pb-3">{% trans 'Настройки профиля' %}</div>
                    {% crispy form %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}