{% load static %}
{% load thumbnail %}
{% load i18n %}

<div class="account-sidebar">
    <div class="row">
        <div class="account-photo">
            {% if account.avatar %}
                <img src="{% thumbnail account.avatar 48x48 crop=scale %}" alt="">
            {% else %}
                <img class="img-thumbnail" src="{% static 'img/blank-profile-picture.png' %}" alt="">
            {% endif %}
        </div>
        <div class="account-info">
            <div class="account-name">{{ account.username }}</div>
            {# TODO: rating account #}
            {# <div class="my-advert__info-star">#}
            {# <i class="fas fa-star"></i>4.9/5#}
            {# </div> #}
        </div>
    </div>
    <div class="account-location">
        <i class="fas fa-location-arrow"></i>
        {% if account.city %}
            <a href="{% url "main:index" city_pk=account.city.id %}">
                {{ account.city.name }}
            </a>
        {% else %}
            <span class="badge-danger">{% trans 'Город: ' %}{{ account.city }}</span>
        {% endif %}
        <p>{% trans 'На сайте с' %} {{ account.date_joined | date:"d M Y" }}</p>
    </div>
    <div class="account-menu">
        {% if user.id == account.id %}
            <a href="{% url 'users:account-detail' pk=account.id %}"
               class="account-menu--item {% if request.resolver_match.url_name == "account-detail" %}
                                account-menu--item--active {% endif %}">
                <i class="far fa-list-alt fa-2x pt-1 pb-1 mr-3"></i>
                {% trans 'Мои объявления' %}
            </a>

            <a href="{% url 'users:history-orders' pk=account.id %}"
               class="account-menu--item {% if request.resolver_match.url_name == 'history-orders' %}
                                account-menu--item--active {% endif %}">
                <i class="fas fa-archive fa-2x pt-1 pb-1 mr-3"></i>
                {% trans 'Мои заказы' %}
            </a>

            <a href="{% url 'users:settings-profile' pk=user.id %}"
               class="account-menu--item {% if request.resolver_match.url_name == 'settings-profile' %}
                                account-menu--item--active {% endif %}">

                <i class="fa fa-cogs fa-2x pt-1 pb-1 mr-3"></i>
                {% trans 'Настройки' %}
            </a>

            {% if user.shop_owner %}
                <a href="{% url 'shops:shop-info' pk=user.id %}"
                   class="account-menu--item {% if request.resolver_match.url_name == 'shop-info' %} account-menu--item--active {% endif %}">

                    <i class="fas fa-store fa-2x pt-1 pb-1 mr-3"></i>
                    {% trans 'Управление магазинами' %}
                </a>
            {% endif %}

            {% if account.courier %}
                <a href="{% url 'delivery:orders' %}"
                   class="account-menu--item {% if request.resolver_match.url_name == 'orders' %} account-menu--item--active {% endif %}">

                    <i class="fas fa-truck fa-2x pt-1 pb-1 mr-3"></i>
                    {% trans 'Панель доставки' %}
                </a>
            {% endif %}

        {% endif %}
    </div>
</div>