{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% block title %}
    {% if user.is_anonymous %}
        {% trans 'Объявления пользователя' %}: {{ account.username }}
    {% else %}
        {% trans 'Мои объявления' %}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb col-md-12 mt-5 mb-5">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Профиль' %}</li>
            </ol>
        </nav>
        <div class="row pb-5 col-md-12">
            <div class="col-md-3">
                {% include 'account-sidebar-block.html' %}
            </div>
            <div class="col-md-9">
                {{ account.get_product_count_active }}
                <div class="account-products mt-3">
                    <h1 class="h1 title mt-3 pb-3">
                        {% if user.id == account.id %}
                            {% trans 'Мои объявления' %}
                        {% else %}
                            {% trans 'Объявления пользователя' %}: {{ account.username }}
                        {% endif %}
                    </h1>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true"> {% trans 'Активные' %} <span
                                    class="badge badge-secondary">{{ account.get_items_count_active | default_if_none:0 }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">{% trans 'Завершенные' %} <span
                                    class="badge badge-secondary">{{ account.get_items_count_no_active | default_if_none:0 }}</span></a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            {% if account.get_items_count_active %}
                                <div class="row mt-3">
                                    {% for product in account.get_items_active %}
                                        <div class="card card-product-grid">
                                            <a class="img-wrap" href="{{ product.get_absolute_url }}">
                                                {% if product.get_main_image %}
                                                    <img class="card-img-top" width="216" height="140"
                                                         src="{% thumbnail product.get_main_image.images 216x140 crop=scale %}"
                                                         alt="{{ product.name }}">

                                                {% else %}
                                                    {% if product.get_main_image %}
                                                        <img height="131" width="131"
                                                             src="{% thumbnail product.get_main_image.image 131x131 crop=scale %}"
                                                             alt="{{ product.name }}">
                                                    {% else %}
                                                        <img height="131" width="131"
                                                             src="{% static 'img/slider/no-image.png' %}"
                                                             alt="{{ product.name }}">
                                                    {% endif %}
                                                {% endif %}

                                                <a href="{{ product.get_absolute_url }}">
                                                    <div class="product-card-like">
                                                        <i class="far fa-heart"></i>
                                                    </div>
                                                </a>
                                                <div class="card-body">
                                                    <h5 class="product-card-title" data-placement="right"
                                                        title="{{ product.name }}">
                                                        <a class="product-link"
                                                           href="{{ product.get_absolute_url }}">{{ product.name|truncatechars:19 }}</a>
                                                    </h5>
                                                    <div class="product-card-price">
                                                        {{ product.price| floatformat }}{{ product.currency }}</div>
                                                    {% if product.city_bb %}
                                                        {{ product.city_bb }}
                                                    {% endif %}
                                                    <div class="mt-2">
                                                        <hr>
                                                        {% if user.id == account.id %}
                                                            <a class="btn btn-info"
                                                               href="{% url 'main:product-edit' pk=product.id %}">{% trans 'Изменить' %}</a>
                                                            <a class="btn btn-warning"
                                                               href="{% url 'main:product-delete' pk=product.id %}">{% trans 'Удалить' %}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="row">
                                    <p> {% trans 'Пока нет объявлений' %}</p>
                                    <a class="btn-create-announcement mx-3 mt-1 mb-1"
                                       href="{% url 'main:product-create' %}">{% trans 'Создать объявление' %}</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% if account.get_items_count_no_active %}
                                <div class="row mt-3">
                                    {% for product in account.get_items_no_active %}
                                        <div class="card card-product-grid">
                                            <a class="img-wrap" href="{{ product.get_absolute_url }}">
                                                {% if product.get_main_image %}
                                                    <img class="card-img-top" width="216" height="140"
                                                         src="{% thumbnail product.get_main_image.images 216x140 crop=scale %}"
                                                         alt="{{ product.name }}">

                                                {% else %}
                                                    {% if product.get_main_image %}
                                                        <img height="131" width="131"
                                                             src="{% thumbnail product.get_main_image.image 131x131 crop=scale %}"
                                                             alt="{{ product.name }}">
                                                    {% else %}
                                                        <img height="131" width="131"
                                                             src="{% static 'img/slider/no-image.png' %}"
                                                             alt="{{ product.name }}">
                                                    {% endif %}
                                                {% endif %}

                                                <a href="{{ product.get_absolute_url }}">
                                                    <div class="product-card-like">
                                                        <i class="far fa-heart"></i>
                                                    </div>
                                                </a>
                                                <div class="card-body">
                                                    <h5 class="product-card-title" data-placement="right"
                                                        title="{{ product.name }}">
                                                        <a class="product-link"
                                                           href="{{ product.get_absolute_url }}">{{ product.name|truncatechars:19 }}</a>
                                                    </h5>
                                                    <div class="product-card-price">
                                                        {{ product.price| floatformat }}{{ product.currency }}</div>
                                                    {% if product.city_bb %}
                                                        {{ product.city_bb }}
                                                    {% endif %}

                                                    <div class="mt-2">
                                                        <hr>
                                                        {% if user.id == account.id %}
                                                            <a class="btn btn-info"
                                                               href="{% url 'main:product-edit' pk=product.id %}">{% trans 'Изменить' %}</a>
                                                            <a class="btn btn-warning"
                                                               href="{% url 'main:product-delete' pk=product.id %}">{% trans 'Удалить' %}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}