{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Мои заказы' %}{% endblock %}


{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb col-md-12 mt-5 mb-5">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="{% url 'users:account-detail' pk=user.id %}">
                        {% trans 'Профиль' %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Order History' %}</li>
            </ol>
        </nav>
        <div class="row pb-5 col-md-12">
            <div class="col-md-3">
                {% include 'account-sidebar-block.html' %}
            </div>
            <div class="col-md-9">
                {{ account.get_product_count_active }}
                <div class="account-products">
                    <h1 class="h1 title">{% trans 'Order History' %}</h1>
                    <table class="table mt-3">
                        <thead>
                        <tr>
                            <th scope="col"># ORDER</th>
                            <th scope="col">DATE</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">TOTAL</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in account.order_set.all %}
                            <tr>
                                <th scope="row"><a
                                        href="{% url 'users:history-detail-orders' pk=account.id order_pk=order.id %}">{{ order.id }}</a>
                                </th>
                                <td>{{ order.created_at }}</td>
                                <td>{{ order.status }}</td>
                                <td>{{ order.total_price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

{% endblock %}