{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Order Detail' %} - #{{ order.id }}{% endblock %}


{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb col-md-12 mt-5 mb-5">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="{% url 'users:account-detail' pk=user.id %}">
                        {% trans 'Профиль' %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Order Detail' %} - #{{ order.id }}</li>
            </ol>
        </nav>
        <div class="row pb-5 col-md-12">
            <div class="col-md-3">
                {% include 'account-sidebar-block.html' %}
            </div>
            <div class="col-md-9">
                {{ account.get_product_count_active }}
                <div class="account-products">
                    <h1 class="h1 title">{% trans 'Order Detail' %} - #{{ order.id }}</h1>
                    <div class="card mt-3">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="font-italic">{{ order.created_at }}</span></li>
                            <li class="list-group-item">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">PRODUCT</th>
                                        <th scope="col">TOTAL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in order.get_product_in_order %}
                                        <tr>
                                            {# TODO add product count x1 #}
                                            <td>{{ product.name }} {{ product }} x 1</td>
                                            <td>{{ product.price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </li>
                            <li class="list-group-item">
                                <div class="ml-0">
                                    <span class="font-weight-bold">Total order: </span>
                                    {{ order.total_price }}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr class="mt-4">
                    <h4 class="h4">Customer Info</h4>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="font-weight-bold">Name: </span>{{ order.customer_name }}
                        </li>
                        <li class="list-group-item"><span
                                class="font-weight-bold">Address: </span>{{ order.customer_address }}</li>
                        <li class="list-group-item"><span
                                class="font-weight-bold">email: </span>{{ order.customer_email }}</li>
                        <li class="list-group-item"><span
                                class="font-weight-bold">phone: </span>{{ order.customer_phone }}</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

{% endblock %}