{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block title %}{% trans 'Вход' %}{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <div class="registration-menu mt-5 pb-5">
            <input class="radio" id="one" name="group" type="radio" checked/>
            <input class="radio" id="two" name="group" type="radio"/>
            <div class="registration-tabs">
                <label class="registration-tab" id="one-tab" for="one">{% trans 'Вход' %}</label>
                <label class="registration-tab" id="two-tab" for="two">{% trans 'Регистрация' %}</label>
            </div>
            <div class="registration-panels">
                <div class="panel" id="one-panel">
                    <div class="flex justify-center mt-5 mb-5 mx-auto">
                        <a class="social-link pl-2 pr-2" href="/login/vk-oauth2"
                        ><img
                                src="{% static 'img/svg/vk.svg' %}"
                                alt=""
                                data-toggle="tooltip"
                                title="{% trans 'Вход через VKontakte' %}"
                        /></a>
                        <a class="social-link pl-2 pr-2" href="/login/google-oauth2/"
                        ><img
                                src="{% static 'img/svg/google.svg' %}"
                                alt=""
                                data-toggle="tooltip"
                                title="{% trans 'Вход через Google' %}"
                        /></a>
                    </div>
                    <form id="login" class="form-registration text-center"
                          method="POST" action="{% url 'users:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {#                        <label for="id_username">Имя пользователя:</label>#}
                            <label for="id_username"></label>
                            <input class="registration__input"
                                   type="text"
                                   name="username"
                                   placeholder="{% trans 'Username' %}"
                                   autofocus autocapitalize="none"
                                   autocomplete="username"
                                   maxlength="200" required
                                   id="id_username">
                        </div>
                        <div class="form-group">
                            {#                        <label for="id_password">Пароль:</label>#}
                            <label for="id_password"></label>
                            <input class="registration__input"
                                   type="password"
                                   name="password"
                                   placeholder="{% trans 'Пароль' %}"
                                   autocomplete="current-password"
                                   required
                                   id="id_password">
                            <span toggle="#id_password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            {# TODO: add login with email or phone #}
                        </div>
                        <button
                                id="login-btn"
                                type="submit"
                                class="login-button login-button--submit text-center mt-3"
                        >
                            {% trans 'Войти' %}
                        </button>
                    </form>
                    {# TODO: password-reset url #}
                    <a class="reset-password text-center" href="/password_change">{% trans 'Забыли пароль?' %}</a>
                    <div class="text-center">

                        <a class="registration-text" href="{% url "cms:license" %}" target="_blank">
                            {% trans 'При входе подтверждаете согласие на обработку персональных данных' %}
                        </a>
                    </div>
                </div>
                <div class="panel" id="two-panel">
                    <form id="form-registration" class="form-registration text-center" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username"></label>
                            <input
                                    class="registration__input"
                                    type="text"
                                    name="username"
                                    placeholder="{% trans 'Ник' %}"
                                    maxlength="200"
                                    autofocus=""
                                    required
                                    id="username"
                            />
                        </div>
                        <div class="form-group">
                            <label for="first_name"></label>
                            <input
                                    class="registration__input"
                                    type="text"
                                    name="first_name"
                                    placeholder="{% trans 'Имя' %}"
                                    maxlength="30"
                                    id="first_name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="last_name"></label>
                            <input
                                    class="registration__input"
                                    type="text"
                                    placeholder="{% trans 'Фамилия' %}"
                                    name="last_name"
                                    maxlength="30"
                                    id="last_name"
                            />
                        </div>
                        <div class="form-group">
                            <label for="phone"></label>
                            <input
                                    class="registration__input"
                                    type="tel"
                                    placeholder="{% trans 'Телефон' %}"
                                    name="phone"
                                    maxlength="128"
                                    id="phone"
                            />
                        </div>
                        <div class="form-group">
                            <label for="city"></label>
                            <select class="registration__input" name="city" id="city" required>
                                <option value="" selected="">Выберите город</option>
                                {% for city in city_list %}
                                    <option value="{{ city.id }}">{{ city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email"></label>
                            <input
                                    class="registration__input"
                                    type="email"
                                    placeholder="Email"
                                    name="email"
                                    maxlength="254"
                                    id="registration_email"
                                    required
                                    data-content=""
                                    data-toggle="popover"
                                    data-placement="right"
                            />
                        </div>
                        <div class="form-group">
                            <label for="password1"></label>
                            <input
                                    class="registration__input"
                                    type="password"
                                    name="password1"
                                    placeholder="Пароль"
                                    autocomplete="new-password"
                                    required
                                    id="password1"
                            />
                            <span toggle="#password1" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <label for="password2"></label>
                            <input
                                    class="registration__input"
                                    type="password"
                                    name="password2"
                                    placeholder="Подтверждение пароля"
                                    autocomplete="new-password"
                                    required
                                    id="password2"
                            />
                        </div>
                        <button
                                id="btn"
                                type="submit"
                                class="login-button login-button--submit text-center mt-5"
                        >
                            {% trans 'Создать аккаунт' %}
                        </button>
                        <div id="results"></div>
                    </form>
                    <a class="reset-password text-center" href="/password_change">{% trans 'Забыли пароль?' %}</a>
                    <div class="text-center">
                        <div class="text-center">
                            <a class="registration-text" href="{% url "cms:license" %}" target="_blank">
                                {% trans 'При входе подтверждаете согласие на обработку персональных данных' %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(".toggle-password").click(function () {

            $(this).toggleClass("fa-eye fa-eye-slash");
            let input = $($(this).attr("toggle"));
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $("#registration_email").change(function () {
            let form = $(this).closest("form");
            let el = document.querySelector('#registration_email');

            $("#registration_email").removeClass('js-registration__input-error js-registration__input-success')

            $.ajax({
                url: 'registration/validate-email/',
                data: form.serialize(),
                dataType: 'json',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                success: function (data) {
                    {#console.log(data)#}

                    if (data.error_message) {
                        el.classList.add(
                            'js-registration__input-error'
                        )

                        el.dataset.content = data.error_message;

                        $("#registration_email").popover('show');

                    } else {
                        el.dataset.content = '';

                        $("#registration_email").popover('dispose');

                        el.classList.add('js-registration__input-success')
                    }
                }
            });
        });

        // Submit post on submit
        $('#form-registration').on('submit', function (event) {
            event.preventDefault();
            create_registration();

            function create_registration() {
                $.ajax({
                    url: "{% url 'users:registration' %}", // the endpoint
                    type: "POST", // http method
                    dataType: 'json',
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    data: {
                        username: $('#username').val(),
                        first_name: $('#first_name').val(),
                        last_name: $('#last_name').val(),
                        phone: $('#phone').val(),
                        city_id: document.getElementById("city").options[document.getElementById("city").selectedIndex].value,
                        email: $('#registration_email').val(),
                        password1: $('#password1').val(),
                        password2: $('#password2').val(),
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    }, // data sent with the post request

                    // handle a successful response
                    success: function (data) {
                        if (data) {
                            for (let item in data.errors) {
                                console.log(item, data.errors[item])
                                console.log(item, data.errors[item][0], data.errors[item][1])
                            }
                        }
                        if (data.ok) {
                            window.location.href = "{% url 'users:login' %}";
                        }
                    },

                    // handle a non-successful response
                    error: function (xhr, errors, err) {
                        console.log("error", errors, err)
                    }
                });
            }
        });
    </script>
{% endblock %}