{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/view-product.css' %}">

    <link rel="stylesheet" href="{% static 'css/store-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/store-stripe.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/category-filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    {% block style %}{% endblock %}
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'owl-carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/assets/owl.theme.default.min.css' %}">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/all.min.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:700|Rubik:500&display=swap&subset=cyrillic"
          rel="stylesheet">

    {% block head %}{% endblock %}
</head>
<script>
    window.addEventListener("load", function (event) {
        class TabList {
            constructor(buttonsContainer, tabs) {
                this.buttonsContainer = buttonsContainer;
                this.tabs = tabs;

                this.buttonsContainer.addEventListener("click", (event) => {
                    event.preventDefault();

                    const index = event.target.closest(".tab-link").dataset.value;

                    document.querySelectorAll(".tab-active")[0].classList.remove("tab-active")
                    event.target.closest(".tab-link").classList.add("tab-active")

                    console.log(index)

                    this.openTab(index);
                });
            }

            openTab(index) {
                this.tabs.querySelector(".content-active").classList.remove("content-active");
                this.tabs.querySelector(`.tab--${index}`).classList.add("content-active");
            }
        }


        const buttonsContainer = document.querySelector(".tabs");
        const tabs = document.querySelector(".tabs-content");

        document.querySelectorAll(".tabs li")[0].classList.add("tab-active")
        document.querySelectorAll(".tabs-panel")[0].classList.add('content-active')

        const tabList = new TabList(buttonsContainer, tabs);
    })


</script>

<body>

{% include 'layout/header.html' %}
{% include 'layout/slider-nav.html' %}

{% block content %}
{% endblock %}


{% include 'layout/footer.html' %}

<!-- scripts -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>

<!-- owl carosel -->
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>#}
<script src="{% static 'owl-carousel/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/javascript.js' %}"></script>

{% block script %}{% endblock %}
</body>
