{% load static %}
{% load i18n %}

{% block footer %}
<footer>
    <div class="container">
        <div class="row mt-3 align-content-center">
            <div class="col-md-2 footer__brandname">
                © 2020 "Senca"
            </div>
            <div class="col-md-6 col-12 col-xs-6">
                <a class="footer-link" href="{% url 'cms:license' %}">{% trans 'Пользовательское соглашение' %}</a>
                {% if user.is_authenticated %}
                <a class="footer-link" href="{% url 'cms:feedback' %}">{% trans 'Предложения' %}</a>
                {% else %}
                <a class="footer-link" href="{% url 'users:login' %}">{% trans 'Предложении' %}</a>
                {% endif %}

                <a class="footer-link" href="{% url 'cms:help' %}">{% trans 'Помощь' %}</a>
                <a class="footer-link" href="{% url 'cms:about' %}">{% trans 'О компании' %}</a>
            </div>
            <!--social media-->
            <div class="social-block mt-3 col-12 col-sm-4 mt-sm-2 col-md-3">
                <div class="row text-center align-content-center">
                    <a class="col social-icon vk" href="https://vk.com/kitanin_v"></a>
                    <a class="col social-icon fb" href="https://facebook.com/madoyan.vazgen"></a>
                    <a class="col social-icon tw" href="https://twitter.com"></a>
                    <a class="col social-icon ok" href="https://ok.ru"></a>
                    <a class="col social-icon inst" href="https://instagram.com"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}