{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load main_tag %}

{% load mptt_tags %}

{% get_city_list as city_lists %}
{% get_category as category_list %}

{% block header %}
    <header class="mt-1">
        <div class="header-top container">
            <div class="row">
                <div class="header-city-select col-6">
                    <div class="dropdown col-2">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {% if city_name %}
                                {{ city_name }}
                            {% else %}
                                {% trans 'Все города' %}
                            {% endif %}
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-menu">
                            {% for city in  city_lists %}
                                <a class="dropdown-item" href="{% url "main:index" city_pk=city.id %}">{{ city }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="header-top__menu col-md-auto col-lg-auto col-xl-auto">
                    <a class="header-link header-link--active"
                       href="{% url 'shops:shops-list' %}">{% trans 'Магазины' %}</a>
                    <a class="header-link" href="{% url 'cms:about' %}">{% trans 'Бизнес' %}</a>
                    <a class="header-link" href="{% url 'cms:help' %}">{% trans 'Помощь' %}</a>

                    <form class="set-lang" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name='next' type="hidden" value="{{ redirect_to }}">
                        <select class="lang-select" name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}

                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}

                        </select>
                        <input class="change-ling-btn" type="submit" value="{% trans 'Сменить' %}"
                               style="">
                    </form>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="header-bottom__wrapper">
                <a class="navbar-brand mt-1 mb-1" href="/" style="">
                    <img src="{% static 'img/Senca-logo.png' %}" width="100px" height="34px" alt="Senca">
                </a>
                <div class="header-menu mt-1 mb-1">
                    <div class="header-dropdown">
                        <button class="dropbtn">
                            <i class="fas fa-bars"></i>
                            {% trans 'Категории' %}
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <div class="tabs-container">
                                <ul class="tabs">
                                    {% recursetree category_list %}
                                        <li class="tab-link" data-value="{{ node.id }}">
                                            <i class="fas fa-caret-right"></i>
                                            <a class="menu-link"
                                               href="{% url 'main:category' pk=node.id %}">{{ node.name }}</a>
                                        </li>
                                    {% endrecursetree %}
                                </ul>
                                <div class="tabs-content col-md-9">
                                    {% recursetree category_list %}
                                        <div class="tabs-panel tab--{{ node.id }}">
                                            <div class="menu-column-list">
                                                {% for category_child in node.get_children %}
                                                    <div class="col">
                                                        <div class="menu-column-item">
                                                            <a class="font-weight-bold"
                                                               href="{% url 'main:category' pk=category_child.id %}">
                                                                {{ category_child }}
                                                            </a>
                                                            {% for subcateg in category_child.get_children %}
                                                                <a class="menu-column-link"
                                                                   href="{% url 'main:category' pk=subcateg.id %}">
                                                                    {{ subcateg }}
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endrecursetree %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="form-header-search mt-1 mb-1" action="{% url 'main:search-result' %}" method="get">
                    <input class="form-control" name="q" type="text" placeholder="{% trans 'Я ищу' %}">
                    <div class="submit-wrapper">
                        <input class="btn btn-search" type="submit" value="">
                    </div>
                </form>

                {% if user.is_authenticated %}
                    <a class="btn-create-announcement mx-3 mt-1 mb-1"
                       href="{% url 'main:product-create' %}">{% trans 'Создать объявление' %}</a>
                {% else %}
                    <a class="btn-create-announcement mx-3 mt-1 mb-1"
                       href="{% url 'users:login' %}">{% trans 'Создать объявление' %}</a>
                {% endif %}

                {% if user.is_authenticated %}
                    <div class="header-profile">
                        <div class="profile__button-group px-3">
                            <a class="profile-message" href="#">
                                <span class="profile-icon">
                                    <i class="fas fa-envelope"></i>
{#                                    {% if get_unread_count %}#}
{#                                        <span id="unread-counter"#}
{#                                              class="badge badge-secondary mx-1">{% get_unread_count %}</span>#}
{#                                    {% endif %}#}
                                </span>
                            </a>
                            <a class="profile-favorites" href="{% url 'favorite:favorite-list' %}">
                                <span class="profile-icon">
                                    <i class="fas fa-heart"></i>
                                </span>
                            </a>
                            <a class="profile-basket" href="{% url 'cart:cart-detail' %}">
                                <span class="profile-icon">
                                    <i class="fas fa-shopping-cart"></i>
                                    {% if cart_items_count %}
                                        <span id="unread-counter"
                                              class="badge badge-secondary my-1">{{ cart_items_count }}</span>
                                    {% endif %}
                                </span>
                            </a>
                        </div>

                        <div class="profile-menu-dropdown">
                            <div class="profile__avatar align-middle">
                                {% if user.avatar %}
                                    <img src="{% thumbnail user.avatar 48x48 crop=scale %}" alt="">
                                {% else %}
                                    <img class="img-thumbnail img-rounded" height="48px" width="48px"
                                         src="{% static 'img/blank-profile-picture.png' %}"
                                         alt="">
                                {% endif %}
                                <i class="fa fa-caret-down"></i>
                            </div>
                            <div class="profile-menu">
                                <a class="profile-menu-item"
                                   href="{% url 'users:account-detail' pk=user.id %}">
                                    <i class="fab fa-buromobelexperte fa-2x mb-1"></i>
                                    {% trans 'Мои объявления' %}
                                </a>
                                <a class="profile-menu-item"
                                   href="#">
                                    <i class="far fa-comment-dots fa-2x mb-1"></i>
                                    {% trans 'Сообщения' %}
                                </a>
                                <a class="profile-menu-item"
                                   href="{% url 'users:settings-profile' pk=user.id %}">
                                    <i class="fas fa-cogs fa-2x mb-1"></i>
                                    {% trans 'Настройки' %}
                                </a>
                                {% if user.shop_owner %}
                                    <a class="profile-menu-item "
                                       href="{% url 'shops:shop-info' pk=user.id %}">
                                        <i class="fas fa-store-alt fa-2x mb-1"></i>
                                        {% trans 'Магазины' %}
                                    </a>
                                {% endif %}
                                {% if user.courier %}
                                    <a class="profile-menu-item"
                                       href="{% url 'delivery:orders' %}">
                                        <i class="fas fa-truck fa-2x mb-1"></i>
                                        {% trans 'Панель доставки' %}
                                    </a>
                                {% endif %}

                                <a class="profile-menu-item"
                                   href="{% url 'cms:help' %}">
                                    <i class="fas fa-question-circle fa-2x mb-1"></i>
                                    {% trans 'Помощь' %}
                                </a>
                                <a class="profile-menu-item" href="{% url 'users:logout' %}">
                                    <i class="fas fa-sign-out-alt fa-2x mb-1"></i>
                                    {% trans 'Выход' %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a class="btn-create-announcement"
                       href="{% url 'users:login' %}">{% trans 'Вход|Регистрация' %}</a>
                {% endif %}

            </div>
        </div>
    </header>
{% endblock %}
