{% load static %}
{% load main_tag %}
{% category_slider as category_alls %}

<!-- slider -->
<div class="slider mt-5">
    <div class="owl-carousel home-slider owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                {% for category in category_alls %}
                    <div class="owl-item">
                        <a class="owl-item-link" href="{% url 'main:category' pk=category.id %}">
                            {% if category.icon_name != "" %}
                                <i class="slider-category-icon {{ category.icon_name }}"></i>
                            {% else %}
                                <img src="{% static 'img/category/50x50.png' %}" alt="">
                            {% endif %}
                            <span>{{ category.name }}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- end slider -->