{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Мои закладки' %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb col-md-12 mt-5 mb-5">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="{% url 'users:account-detail' pk=user.id %}">
                            {% trans 'Мой профиль' %} {{ user.name }}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans 'Мои закладки' %}</li>
                </ol>
            </nav>
            <div class="mt-3">
                <div class="row">
                    {% for product in favorite_list %}
                        {% include 'favorite-product-card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        window.addEventListener("load", function (event) {

            {% if user.is_authenticated %}

                $(".js-btn-add-cart").click(function () {

                    {#$(this).addClass('disabled')#}

                    let product_id = $(this).data("product_id");
                    let product_url = $(this).data("product_url");

                    $.ajax({
                        method: 'post',
                        url: product_url,
                        data: {
                            'user': {{ user.id }},
                            'product_id': product_id,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',

                    }).done(function (response) {


                        console.log("resp", response.message)

                        if (response.message === "success") {
                            $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Товар успешно добавлен в корзину!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                            $('.alert').fadeOut(3000, function () {
                                $('#alertFadeOut').text('');
                            });
                        }
                    })
                })

                $(".product-card-like").click(function () {
                    {# TODO возможны баги #}

                    let user_id = {{ user.id }};

                    $.ajax({
                        method: 'post',
                        url: '{% url 'favorite:favorite-like' %}',
                        data: {
                            'user_id': user_id,
                            'product_id': $(this).data("id"),
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',

                    }).done(function (response, ) {
                        {#console.log("like click send, return answer", response.success)#}

                        if (response.success) {

                            let item_id = response.item_id;

                            let product_id = "product-" + item_id;

                            {#console.log(item_id)#}
                            {#console.log(item_id, product_id)#}

                            if (item_id !== null && item_id !== undefined) {

                                document.getElementById(product_id).remove();

                            }

                        }
                    })
                })

                {#TODO add click info for anonimus user #}

            {% endif %}
        })

    </script>

{% endblock %}