{% extends 'layout/basic.html' %}

{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h1 class="h1 mt-5">{% trans 'Информация для доставки' %}</h1>
                <hr class="mt-0 mb-4">
                <div class="col-md-8 mt-4">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}