{% extends 'layout/base-delivery.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Admin Dashboard' %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/statistic.css' %}">
{% endblock %}

{% block content %}
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'header.html' %}

        <div class="app-main">
            {% include 'layout/left-menu.html' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <h2 class="card-header">{% trans 'Список активных заказов' %}</h2>
                                <div class="table-responsive">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center">{% trans 'Номер заказа' %}</th>
                                            <th class="text-center">{% trans 'Дата заказа' %}</th>
                                            <th class="text-center">{% trans 'Статус' %}</th>
                                            {#                                            <th>{% trans 'Магазин' %}</th>#}
                                            <th class="text-center">{% trans 'Товар' %}</th>
                                            <th class="text-center">{% trans 'Адрес доставки' %}</th>
                                            <th class="text-center">{% trans 'Детали' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for item in active_orders %}
                                            <tr>
                                                <td class="text-center text-muted">{{ item.order.id }}</td>
                                                <td class="text-center text-muted">{{ item.order.created_at }}</td>
                                                <td class="text-center text-muted">{{ item.order.status }}</td>
                                                {#                                                <td>#}
                                                {#                                                    <div class="widget-content p-0">#}
                                                {#                                                        <div class="widget-content-wrapper">#}
                                                {#                                                            <div class="widget-content-left flex2">#}
                                                {#                                                                <div class="widget-heading">{{ order.shop }}</div>#}
                                                {#                                                                <div class="widget-subheading opacity-7">{{ order.shop.address }}</div>#}
                                                {#                                                            </div>#}
                                                {#                                                        </div>#}
                                                {#                                                    </div>#}
                                                {#                                                </td>#}
                                                <td class="">
                                                    <ul>
                                                        {% for product in item.order.product_list %}
                                                            <li>
                                                                <a target="_blank"
                                                                   href="{{ product.get_absolute_url }}">{{ product.name }}</a>

                                                                - {{ product.price }} {{ product.currency.name }}</li>
                                                        {% endfor %}

                                                    </ul>
                                                </td>
                                                <td class="text-center">{{ item.order.customer_address }}</td>
                                                <td class="text-center">
                                                    <button type="button" id="PopoverCustomT-1"
                                                            style="border-color: #3ac47d; background-color: #3ac47d"
                                                            class="btn btn-primary btn-sm">
                                                        <a href="{% url 'delivery:order-detail' pk=item.order.pk %}"
                                                           style="text-decoration: none; color: white">{% trans 'Детали' %}</a>
                                                    </button>

                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
