{% extends 'layout/base-delivery.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/list-orders.css' %}">
{% endblock %}

{% block title %}{% trans 'Заказы' %}{% endblock %}

{% block content %}
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'header.html' %}

        <div class="app-main">
            {% include 'layout/left-menu.html' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-card mb-3 card">
                                <h3 class="card-header">{% trans 'Список заказов' %}</h3>
                                <div class="table-responsive">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">{% trans 'ФИО' %}</th>
                                            <th class="text-center">{% trans 'Адрес доставки' %}</th>
                                            <th class="text-center">{% trans 'Номер телефона' %}</th>
                                            <th class="text-center">{% trans 'Дата заказа' %}</th>
                                            <th class="text-center">{% trans 'Статус' %}</th>
                                            <th class="text-center"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in open_orders %}
                                            <tr>
                                                <td class="text-center text-muted">
                                                    <a type="button" id="PopoverCustomT-1"
                                                       class="btn btn-primary btn-sm"
                                                       href="{% url 'delivery:order-detail' pk=order.pk %}">
                                                        {{ order.id }} </a>

                                                </td>
                                                <td class="text-center text-muted">{{ order.customer_name }}</td>
                                                <td class="text-center">{{ order.customer_address }}</td>
                                                <td class="text-center">{{ order.customer_phone }}</td>
                                                <td class="text-center">{{ order.created_at }}</td>
                                                <td class="text-center">
                                                    <div class="badge {% if order.status == 'Статус Открыт' %}badge-warning
                                                    {% elif order.status == 'Принят' %}badge-info
                                                    {% elif order.status == 'Закрыт' %}badge-success{% endif %}">
                                                        {{ order.status }}</div>
                                                </td>

                                                {% if order.deliveryman == None %}
                                                    <td class="text-center">
                                                        <a type="button" id="PopoverCustomT-1"
                                                           class="btn btn-primary btn-sm"
                                                           href="{% url 'delivery:order-detail' pk=order.pk %}">
                                                            {% trans 'Детали' %} </a>
                                                    </td>
                                                {% else %}
                                                    <td class="text-center">
                                                        <button type="button" id="PopoverCustomT-1"
                                                                style="border-color: #3ac47d; background-color: #3ac47d"
                                                                class="btn btn-primary btn-sm">
                                                            {{ order.deliveryman }}
                                                        </button>
                                                    </td>
                                                {% endif %}

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
