{% extends 'layout/base-delivery.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Детальная информация о заказе: ' %} {{ order.id }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/statistic.css' %}">
{% endblock %}

{% block content %}
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'header.html' %}

        <div class="app-main">
            {% include 'layout/left-menu.html' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="row">
                        <h3 style="color: #f7b924; padding-bottom: 20px">{% trans 'Детальная информация' %}</h3>
                        <div class="col-md-12">
                            {# TODO товары из разных магазинов #}
                            <h4><b>{% trans 'Магазин' %}</b>: {{ order.cart }}</h4>
                            <h4><b>{% trans 'Адрес доставки' %}</b>: {{ order.customer_address }}</h4>
                            <h4><b>{% trans 'Заказчик' %}</b>: {{ order.customer_name }}</h4>
                            <h4><b>{% trans 'Почта' %}</b>: {{ order.customer_email }}</h4>
                            <h4><b>{% trans 'Номер телефона' %}</b>: {{ order.customer_phone }}</h4>
                            <div class="main-card mb-3 card">
                                <div class="card-header">{% trans 'Список товаров' %}</div>
                                <div class="table-responsive">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">{% trans 'Магазин' %}</th>
                                            <th class="text-center">{% trans 'Товар' %}</th>
                                            <th class="text-center">{% trans 'Количество' %}</th>
                                            <th class="text-center">{% trans 'Цена' %}</th>
                                            <th class="text-center">{% trans 'Валюта' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for product in order.get_product_in_order %}
                                            <tr>
                                                <td class="text-center text-muted">
                                                    <a href="{% url 'main:product-detail' pk=product.id %}">{{ product.id }}</a>
                                                </td>
                                                <td class="text-center text-muted">{{ product.shop.name }}<br> {{ product.shop.address }}
                                                </td>
                                                <td class="text-center text-muted">{{ product.name }}</td>
                                                <td class="text-center text-muted">{{ product.count }}</td>
                                                <td class="text-center text-muted">{{ product.price }}</td>
                                                <td class="text-center text-muted">{{ product.currency.name }}</td>
                                                {# FIXME Добавить количество товаров #}

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <h4 class="h4 lead text-right"> Total sum: {{ order.total_price }}</h4>
                            <hr>
                            <div id="message"></div>
                            {% if user.is_authenticated %}

                                {% if order.status.name == 'Новый' %}
                                    <a class="btn btn-info text-white" type="submit" id="take_order"
                                       data-info="{{ order.id }}" role="button">{% trans "Принять заказ" %}</a>
                                {% endif %}

                                {% if order.status.name == 'В работе' %}
                                    <p id="in_work"> Заказ в работе доставщика: <b>{{ deliverman.deliverman }}</b>
                                        c <i>{{ deliverman.taken_at }}</i></p>

                                    {% if user == deliverman.deliverman %}
                                        <a class="btn btn-danger text-white" type="submit" id="cancel_order"
                                           data-info="{{ order.id }}" role="button">{% trans "Отменить доставку" %}</a>

                                        <a class="btn btn-success text-white" type="submit" id="order_done"
                                           data-info="{{ order.id }}" role="button">{% trans "Заказ выполнен" %}</a>

                                    {% endif %}

                                {% endif %}

                                {% if order.status.name == 'Выполнен' %}
                                    <p> Заказ выполнен доставщиком: <b>{{ deliverman.deliverman }}</b>
                                        c <i>{{ deliverman.completed_at }}</i></p>
                                {% endif %}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        {% if order.status.name == 'Новый' %}
            window.addEventListener("load", function (event) {

                document.getElementById("take_order").addEventListener("click", () => take_order());

                function take_order(event) {

                    $.ajax({
                        method: 'POST',
                        url: "{% url "delivery:order-take" order.id %}",
                        data: {
                            'user': {{ user.id }},
                            'order_id': {{ order.id }},
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',

                    }).done(function (response) {
                        console.log("resp", response.message)

                        if (response.message === "success") {
                            $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Заказ принят!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                            const button = document.getElementById("take_order")
                            {#button.removeEventListener()#}
                            button.style.display = 'none'
                            $('.alert').fadeOut(3000, function () {
                                $('#alertFadeOut').text('');
                            });
                        }
                    });
                }
            });
        {% endif %}

        {% if order.status.name == 'В работе' %}
            window.addEventListener("load", function (event) {

                document.getElementById("cancel_order").addEventListener("click", () => cancel_order());

                function cancel_order(event) {

                    $.ajax({
                        method: 'POST',
                        url: "{% url "delivery:order-cancel" order.id %}",
                        data: {
                            'user': {{ user.id }},
                            'order_id': {{ order.id }},
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',

                    }).done(function (response) {
                        console.log("resp", response.message)

                        if (response.message === "success") {
                            $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Доставка отменена!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                            const button = document.getElementById("cancel_order")
                            let text = document.getElementById('in_work')
                            text.style.display = 'none'
                            button.style.display = 'none'
                            $('.alert').fadeOut(3000, function () {
                                $('#alertFadeOut').text('');
                            });
                        }
                    });
                }

                document.getElementById('order_done').addEventListener("click", () => order_done())

                function order_done(event) {

                    $.ajax({
                        method: 'POST',
                        url: "{% url "delivery:order-done" order.id %}",
                        data: {
                            'user': {{ user.id }},
                            'order_id': {{ order.id }},
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',

                    }).done(function (response) {
                        console.log("resp", response.message)

                        if (response.message === "success") {
                            $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Доставка выполнена!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                            const cancel_order = document.getElementById("cancel_order")
                            const order_done = document.getElementById("order_done")

                            cancel_order.style.display = 'none'
                            order_done.style.display = 'none'

                            let text = document.getElementById('in_work')
                            text.style.display = 'none'

                            $('.alert').fadeOut(3000, function () {
                                $('#alertFadeOut').text('');
                            });
                        }
                    });
                }
            });
        {% endif %}
    </script>

{% endblock %}