{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% load main_tag %}


{% block title %}{% trans 'Категория' %} - {% get_category_name %} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-2">
            <div class="col-md-6">
                <h3 class="h3 main-title">{% get_category_name %}</h3>
                <span class="text-black-50">{{ product_list.count }} {% trans 'объявления(й)' %}</span>
            </div>

            <div class="filter-gpoup row ml-auto">
            </div>k
        </div>
        <div class="row">
            <div class="product-list row mt-3 col-md-9 col-xl-10">
                {% if filter.qs %}
                    {% for product in filter.qs %}
                        <div class="col-sm-5 col-md-3 col-xl-3 col-lg-3">
                            {% include 'main/product-card.html' %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for product in product_list %}
                        <div class="col-sm-5 col-md-3 col-xl-3 col-lg-3">
                            {% include 'main/product-card.html' %}
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="item-filter mt-3 col-xl-3 col-lg-3 col-sm-5 col-md-3 col-3">
                {#                {% include 'main/filter-category.html' %}#}
                <form method="get">
                    {{ filter_form.as_p }}
                    <input type="submit"/>
                </form>
            </div>


        </div>
        <div class="grid-img-right mt-4 text-right bg bg1">
            {% include 'layout/pagination.html' %}
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        {% if user.is_authenticated %}

            window.addEventListener("load", function (event) {

                $(".js-btn-add-cart").click(function () {

                    {#$(this).addClass('disabled')#}

                    let product_id = $(this).data("product_id");
                    let product_url = $(this).data("product_url");

                    $.ajax({
                        method: 'post',
                        url: product_url,
                        data: {
                            'user': {{ user.id }},
                            'product_id': product_id,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',

                    }).done(function (response) {


                        console.log("resp", response.message)

                        if (response.message === "success") {
                            $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Товар успешно добавлен в корзину!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                            $('.alert').fadeOut(3000, function () {
                                $('#alertFadeOut').text('');
                            });
                        }
                    })
                })
            })
        {% endif %}


    </script>

{% endblock %}
