{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}
{% load counter %}
{% load thumbnail %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/owl-item.css' %}">
{% endblock %}

{% block title %}{% trans 'Главная' %}{% endblock %}


{% block content %}
    <div class="container pb-5">
        <section>
            <h2 class="h2 title pt-5 pb-5">
                {% trans 'Товары в магазинах' %}
                {% if city_name %}
                    {% trans 'в городе' %} {{ city_name }}
                {% endif %}
            </h2>
            <div class="pb-3">
                <div class="d-flex flex-row flex-wrap">
                    {% for product in product_list %}
                        {% include 'main/product-card.html' %}
                    {% endfor %}
                    <span id="message"></span>
                </div>
                <div class="pt-3">
                    <div class="col-md-12 offset-md-10">
                        <a href="{% url 'shops:shops-list' %}"
                           class="btn btn-info">{% trans 'Все товары магазинов' %}</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2 class="h2 title pt-5 pb-5">{% trans 'Частные объявления' %}
            </h2>
            <div class="pb-3">
                <div class="d-flex flex-row flex-wrap">
                    {% for product in advert_list %}
                        {% include 'main/product-card.html' %}
                    {% endfor %}
                </div>
                <div class="pt-3 row">
                    <div class="col-md-12 offset-md-10">
                        <a href="{% url 'main:advert-list' %}"
                           class="btn btn-info">{% trans 'Смотреть все объявления' %}</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2 class="h2 title pt-5 pb-5">{% trans 'Популярные товары' %}
            </h2>
            <div class="pb-3">
                <div class="d-flex flex-row flex-wrap">
                    {% for product in popular_item %}
                        {% include 'main/product-card.html' %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <section>
            <h2 class="h2 title pt-5 pb-5">{% trans 'С нами сотрудничают' %}
            </h2>
            <div class="pb-3">
                <div class="d-flex flex-row flex-wrap">
                    {% for shop in shops_list_brand %}
                        {% include 'main/index-shop-brand-card.html' %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}
    <script>
        window.addEventListener("load", function (event) {

            {% if user.is_authenticated %}

                $(".js-btn-add-cart").click(function () {

                    {#$(this).addClass('disabled')#}

                    let product_id = $(this).data("product_id");
                    let product_url = $(this).data("product_url");

                    $.ajax({
                        method: 'post',
                        url: product_url,
                        data: {
                            'user': {{ user.id }},
                            'product_id': product_id,
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',

                    }).done(function (response) {


                        console.log("resp", response.message)

                        if (response.message === "success") {
                            $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Товар успешно добавлен в корзину!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                            $('.alert').fadeOut(3000, function () {
                                $('#alertFadeOut').text('');
                            });
                        }
                    })
                })

                $(".product-card-like").click(function () {
                    $(this).addClass('like--active');
                    product_card = $(this);
                    {# TODO возможны баги #}

                    $.ajax({
                        method: 'post',
                        url: '{% url 'favorite:favorite-like' %}',
                        data: {
                            'user_id': {{ user.id }},
                            'product_id': $(this).data("id"),
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                        },
                        dataType: 'json',

                    }).done(function (response) {
                        console.log("resp", response.success)

                        if (response.success) {
                            console.log('success')
                        }
                    })
                })

            {#TODO add click info for anonimus user #}

            {% endif %}
        })

    </script>

{% endblock %}
