{% load static %}
{% load thumbnail %}
{% load i18n %}

<div class="card card-product-grid">
    <a class="rounded mx-auto d-block" href="{{ shop.get_absolute_url }}">

            {% if shop.brand_image %}
                <img class="" height="131" width="131" src="{% thumbnail shop.brand_image 131x131 crop=scale %}"
                     alt="{{ shop.name }}">
            {% else %}
                <img height="131" width="131" src="{% static 'img/slider/no-image.png' %}"
                     alt="{{ shop.name }}">
            {% endif %}


        <div class="card-body">
            <h5 class="product-card-title" data-placement="right" title="{{ shop.name }}">
                <a class="product-link" href="{{ shop.get_absolute_url }}">{{ shop.name|truncatechars:19 }}</a>
            </h5>
        </div>
    </a>
</div>
