{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}

{% load thumbnail %}

{% block title %}{% trans 'Все товары' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="pt-5 pb-5">
            <h4 class="title">{% trans 'Все товары' %}</h4>

            <span class="text-black-50">{{ item_count }} {% trans 'объявлений(я)' %}</span>
        </div>
        <div class="row">
            <div class="product-list row mt-3 col-md-9 col-xl-10">
                {% if filter.qs %}
                    {% for product in filter.qs %}
                        <div class="col-sm-5 col-md-3 col-xl-3 col-lg-3">
                            {% include 'main/product-card.html' %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for product in product_list %}
                        <div class="col-sm-5 col-md-3 col-xl-3 col-lg-3">
                            {% include 'main/product-card.html' %}
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="item-filter mt-3 col-xl-3 col-lg-3 col-sm-5 col-md-3 col-3">
                <form method="get">
                    {{ filter_form.as_p }}
                    <input type="submit"/>
                </form>
            </div>

        </div>
        <div class="mt-4 align-content-center">

            {% include 'layout/pagination.html' %}

        </div>
    </div>
{% endblock %}