{% extends 'layout/basic.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Создание объявления' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb col-md-12 mt-5 mb-5">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="{% url 'users:account-detail' pk=user.id %}">
                        {% trans 'Профиль' %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Создание объявления' %}</li>
            </ol>
        </nav>
            <div class="row pb-5">
                <div class="sidebar col-md-3">
                    {% include 'account-sidebar-block.html' %}
                </div>
                <div class="content col-md-6">
                    <h4 class="title">{% trans 'Создание объявления' %}</h4>
                    <div class="row">
                        <div class="mt-5">
                            <form enctype="multipart/form-data" method='post' role="form">
                                {% csrf_token %}
                                {{ formset.management_form }}

                                {{ form|crispy }}

                                {% for form in formset %}
                                    {{ form|crispy }}
                                {% endfor %}

                                <input type='submit' class="btn btn-success" value="{% trans 'Сохранить' %}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
