{% extends "layout/basic.html" %}

{% block content %}

    <div class="container">
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit"/>
        </form>
        {% for obj in filter.qs %}
            {{ obj.name }} - ${{ obj.price }}<br/>
        {% endfor %}

    </div>
{% endblock %}