{% extends 'layout/basic.html' %}
{% load l10n %}
{% load thumbnail %}
{% load i18n %}

{% load static %}

{% load counter %}
{% load humanize %}

{% block title %}
    {% if product.commercial %}
        {{ product.name }}{% trans ' в магазине ' %}{{ product.shop.name }}
    {% else %}
        {{ product.name }} - {{ product.category }}
    {% endif %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/item-detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <nav aria-label="breadcrumb col-12 col-md-12 col-xl-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                    </li>
                    {% if product.commercial %}
                        <li class="breadcrumb-item">
                            <a class="breadcrumb-link"
                               href="{{ product.shop.get_absolute_url }}">{{ product.shop.name }}</a>
                        </li>
                    {% endif %}
                    <li class="breadcrumb-item">
                        <a class="breadcrumb-link"
                           href="{% url 'main:category' pk=product.category_id %}"
                        >{{ product.category }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
        </div>

        <div class="mb-5">
            <div class="row no-wrap">
                <h1 class="h1 title col">{{ product.name }}</h1>
                <div class="item-price col-auto">{{ product.price }}{{ product.currency }}</div>
            </div>
            <div class="row">
                <div class="item-metadata p-3">
                    <div class="item-time">{{ product.updated_at|naturaltime }}</div>
                    <div class="item-views mx-1">
                        {% page_hits product.get_absolute_url %} {% trans 'просмотров' %}
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="product-content col-sm-6 col-md-12 col-lg-8">
                    <div class="item-images">
                        {% if product.get_count_images > 0 %}
                            <a class="ml-3" data-fancybox="gallery" href="{{ product.get_main_image.images.url }}">
                                <img src="{% thumbnail product.get_main_image.images 480x360 crop=scale %}"
                                     alt="{{ product.name }}"
                                     class="image"
                                >
                            </a>
                            <div class="row mt-3">
                                {% for product_image in product.get_all_images %}
                                    <a class="ml-3" data-fancybox="gallery" href="{{ product_image.images.url }}">
                                        <img src="{% thumbnail product_image.images 100x70 crop=scale %}"
                                             alt="{{ product.name }}"
                                             class="image"
                                        >
                                    </a>

                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                    <div class="view-product__description mt-3">
                        <h2 class="item-description mt-3 mb-3">{% trans 'Описание' %}</h2>
                        <div class="item-text">{{ product.description }}</div>

                        {#                        <div class="view-product__description">#}
                        {#                            <div class="description__title view-title">{% trans 'Контактная информация' %}</div>#}
                        {#                            <div class="description__text">#}
                        {#                                {{ product.author.phone }}#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="view-product__details">#}
                        {#                            <div class="details__title view-title">Подробности</div>#}
                        {#                            <div class="details__criterion-block">#}
                        {#                                <div class="details__criterion-item">Категория</div>#}
                        {#                                <div class="details__criterion-item">Подкатегория</div>#}
                        {#                                <div class="details__criterion-item">Марка</div>#}
                        {#                                <div class="details__criterion-item">ОС</div>#}
                        {#                                <div class="details__criterion-item">Срок использования</div>#}
                        {#                            </div>#}
                        {#                            <div class="details__info-block">#}
                        {#                                <div class="details__info-item">Телефоны и планшеты</div>#}
                        {#                                <div class="details__info-item">Мобильные телефоны</div>#}
                        {#                                <div class="details__info-item">Google</div>#}
                        {#                                <div class="details__info-item">Android</div>#}
                        {#                                <div class="details__info-item">1 год</div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="sidebar col-md-4 pull-right">
                    <div class="item-metadata-seller px-4 py-4 col-12">
                        <div class="row mx-1">
                            <a href="#" class="seller__top-btn px-3 py-2">
                                <i class="far fa-heart"></i>
                                {% trans "В избранное" %}

                            </a>
                            <a href="#" class="seller__top-btn px-3 py-2 ml-3">
                                <i class="fas fa-share-alt"></i>
                                {% trans "Поделиться" %}
                            </a>
                        </div>

                        {% if user.is_authenticated %}
                            <div class="seller-contact mt-3 mb-3 col-12" id="phone-show">

                                {% if product.commercial %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <a class="btn-seller btn-seller-orange text-white" type="submit" id="add_cart"
                                           data-info="{{ product.id }}"
                                           role="button">
                                            <i class="fas fa-cart-arrow-down"></i>
                                            {% trans "Добавить в корзину" %}
                                        </a>
                                        <div id="message"></div>
                                    </form>
                                {% endif %}

                                {% if product.commercial %}
                                    <button id="js-phone-btn" data-phone="{{ product.shop.phone }}"
                                            class="btn-seller">
                                        <i class="fas fa-mobile-alt"></i>{% trans 'Показать телефон' %}
                                    </button>
                                {% else %}
                                    <button id="js-phone-btn" data-phone="{{ product.author.phone }}"
                                            class="btn-seller">
                                        <i class="fas fa-mobile-alt"></i>{% trans 'Показать телефон' %}
                                    </button>
                                {% endif %}

                                {#  TODO: если продавец магазин кому чат? админу магазина? #}
{#                                {% if user != product.author %}#}
{#                                    <a href="{% url 'chat:dialog-with' %}?account_id={{ product.author.id }}&product_id={{ product.id }}"#}
{#                                       class="btn-seller send-message">#}
{#                                        <i class="far fa-comment-dots"></i>#}
{#                                        {% trans 'Написать продавцу' %}#}
{#                                    </a>#}
{#                                {% endif %}#}
                            </div>
                        {% else %}
                            <div class="item-seller-contact flex justify-content-around mt-2 mb-3" id="phone-show">
                                <button id="js-phone-btn" data-phone="{{ product.author.phone }}"
                                        class="btn-seller seller-phone">
                                    <i class="fas fa-mobile-alt"></i>{% trans 'Показать телефон' %}
                                </button>
                            </div>
                        {% endif %}

                        <div class="seller-metadata">
                            {% if product.commercial %}
                                <div class="seller-photo w-50">
                                    {% if product.shop.brand_image %}
                                        <img src="{% thumbnail product.shop.brand_image 48x48 crop=scale %}" alt="">
                                    {% else %}
                                        <img class="img-thumbnail"
                                             src="{% static 'img/blank-profile-picture.png' %}"
                                             alt="">
                                    {% endif %}

                                </div>
                                <div class="seller-content">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            {% trans 'Магазин:' %}<br>
                                            <a class="seller-name"
                                               href="{{ product.shop.get_absolute_url }}">{{ product.shop.name }}</a>
                                        </li>
                                        <li class="list-group-item">в <span> {{ product.shop.city_shop }}</span></li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="seller-photo w-25">
                                    {% if product.author.avatar %}
                                        <img src="{% thumbnail product.author.avatar 48x48 crop=scale %}" alt="">
                                    {% else %}
                                        <img class="img-thumbnail"
                                             src="{% static 'img/blank-profile-picture.png' %}"
                                             alt="">
                                    {% endif %}
                                </div>
                                <div class="seller-content">
                                    <a class="seller-name lead font-weight-bold "
                                       href="{{ product.get_author_url }}">{{ product.author.username }}</a>
                                    <p> {{ product.author.city }}</p>
                                    <div class="flex">
                                        {{ product.author.get_items_all_count }}
                                        {% trans 'обьявление(й)' %}
                                    </div>
                                </div>

                            {% endif %}

                        </div>
                    </div>
                    <div class="mt-5 pb-5 col-12 text-center flex align-content-center">

                        <a type="button" class="attention alert-link" data-toggle="modal"
                           data-target="#attentionModal"
                        >
                            <i class="fas fa-exclamation-circle"></i>
                            {% trans 'Пожаловаться' %}
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {% if user.is_authenticated %}
            {% if product.commercial %}
                window.addEventListener("load", function (event) {

                    document.getElementById("add_cart").addEventListener("click", () => add_to_cart());

                    function add_to_cart(event) {

                        $.ajax({
                            method: 'post',
                            url: "{% url "cart:cart-add" pk=product.id %}",
                            data: {
                                'user': {{ user.id }},
                                'pk': {{ product.id }},
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                            },
                            dataType: 'json',

                        }).done(function (response) {
                            console.log(response.message)
                            if (response.message === "success") {
                                $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Товар успешно добавлен в корзину!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                                $('.alert').fadeOut(3000, function () {
                                    $('#alertFadeOut').text('');
                                });
                            }
                            if (response.message === "failed") {
                                $("#message").html(`<div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% trans 'Error!' %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`);
                                $('.alert').fadeOut(3000, function () {
                                    $('#alertFadeOut').text('');
                                });
                            }

                        });
                    }
                });
            {% endif %}

        {% endif %}

        window.addEventListener("load", function (event) {

            let sellerbtn = document.getElementById("js-phone-btn");
            sellerbtn.addEventListener("click", (event) => {
                event.preventDefault();
                console.log('click', document.getElementById("js-phone-btn").dataset.phone)


                show_phone_number()

                function show_phone_number(event) {
                    sellerbtn.innerHTML = document.getElementById("js-phone-btn").dataset.phone;

                    sellerbtn.removeEventListener('click', ev => {
                    })
                }
            });
        });
    </script>
    <!-- 1. Add latest jQuery and fancybox files -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}
