{% load static %}
{% load thumbnail %}
{% load i18n %}

<div class="owl-item"
     href="{{ product.get_absolute_url }}">
    <a class="item-link"
       href="{{ product.get_absolute_url }}">
        <div class="owl-item__favorite">
            <i class="far fa-heart"></i>
        </div>
    </a>
    {% if product.get_main_image %}
        <img class="shop-image"
             height="131" width="131"
             src="{% thumbnail product.get_main_image.images 131x131 crop=scale %}"
             alt="{{ product.name }}">
    {% else %}
        <img class="shop-image"
             height="131" width="131" src="{% static 'img/slider/no-image.png' %}"
             alt="{{ product.name }}">
    {% endif %}
    <figcaption class="info-wrap p-2">
        <a href="{{ product.get_absolute_url }}"
           class="product-name px-2 py-2">{{ product.name }}</a>
        {% if product.city_bb %}
            <span class="city-name">
                {{ product.city_bb }}
            </span>
        {% endif %}
        <hr class="mt-1 mb-1">
        <div class="price__block text-center">
            <div class="product-price mt-2 mb-2">{{ product.price }} {{ product.currency }}</div>
            {% if user.is_authenticated %}
                {% if product.commercial %}
                    <button id="add_cart" class="btn btn-info mt-1 pb-1 js-btn-add-cart mt-auto"
                            data-product_id="{{ product.id }} " style="border-color: #5d719a;"
                            data-product_url="{% url "cart:cart-add" pk=product.id %}">{% trans 'В корзину' %}
                    </button>
                {% endif %}
            {% endif %}

        </div>
    </figcaption>
</div>
