{% extends 'layout/basic.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Редактирование объявления' %} {{ item.name }}{% endblock %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb col-md-12 mt-5 mb-5">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="{% url 'users:account-detail' pk=user.id %}">
                        {% trans 'Профиль' %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{% trans 'Редактирование объявления' %}</li>
            </ol>
        </nav>

        <div class="row pb-5 col-md-12">
            <div class=col-md-3">
                {% include 'account-sidebar-block.html' %}
            </div>
            <div class="col-sm-8 col-md-9 pb-3">
                <h2 class="h2 title mb-3">{% trans 'Редактирование объявления' %} - {{ item.name }}</h2>

                <div class="row">
                    <div class="col-md-12">
                        <form enctype="multipart/form-data" method='post' role="form">
                            {% csrf_token %}
                            {{ formset.management_form }}

                            {{ form|crispy }}

                            {% for form in formset %}
                                {{ form|crispy }}
                            {% endfor %}

                            <input type='submit' class="btn btn-success" value="{% trans "Сохранить" %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}