{% load static %}
{% load thumbnail %}
{% load i18n %}

<div class="card card-product-grid">
    {% if product.get_main_image %}
        <a class="img-responsive" href="{{ product.get_absolute_url }}">
            <img class="card-img-top" width="216" height="140"
                 src="{% thumbnail product.get_main_image.images 216x140 crop=scale %}"
                 alt="{{ product.name }}">
        </a>
    {% else %}
        <a class="rounded mx-auto d-block" href="{{ product.get_absolute_url }}">
            {% if product.get_main_image %}
                <img height="131" width="131" src="{% thumbnail product.get_main_image.image 131x131 crop=scale %}"
                     alt="{{ product.name }}">
            {% else %}
                <img class="mx-auto rounded" height="131" width="131" src="{% static 'img/slider/no-image.png' %}"
                     alt="{{ product.name }}">
            {% endif %}
        </a>
    {% endif %}

    <div class="product-card-like" data-id="{{ product.id }}">
        <i class="far fa-heart"></i>
    </div>

    <div class="card-body">
        <h5 class="product-card-title" data-placement="right" title="{{ product.name }}">
            <a class="product-link" href="{{ product.get_absolute_url }}">{{ product.name|truncatechars:19 }}</a>
        </h5>
        <div class="product-card-price">{{ product.price| floatformat }}{{ product.currency }}</div>
        {% if product.city_bb %}
            {{ product.city_bb }}
        {% endif %}

        {% if product.commercial %}
            <button id="add_cart" class="btn btn-info mt-1 pb-1 js-btn-add-cart pull-right"
                    data-product_id="{{ product.id }}"
                    data-product_url="{% url "cart:cart-add" pk=product.id %}">
                {% trans 'В корзину' %}
            </button>
        {% endif %}
    </div>

</div>
