{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'удалить обьявление' %} {{ product.name }}
{% endblock title %}

{% block script %}
    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
        {# TODO: move this #}
    </script>

{% endblock %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb col-md-12 mt-5 mb-5">
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link" href="/">{% trans 'Главная' %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link"
                       href="{% url 'users:account-detail' pk=user.id %}">{% trans 'Профиль' %}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {% trans 'Удалить объявление' %} "{{ product.name }}"
                </li>
            </ol>
        </nav>
        <div class="col-sm-6 col-sm-offset-3">

            {% include 'main/product-card.html' %}

            <div class="col-5">
                {% trans 'Вы уверены что хотите удалить?' %}

                <div class="row">
                    <button class="btn btn-danger pull-right mt-3" data-href="/" data-toggle="modal"
                            data-target="#confirm-delete">{% trans 'Удаление объявления' %}
                    </button>
                    <a class="mt-3" href="{% url 'users:account-detail' pk=product.author.id %}">
                        <button type="button" class="btn btn-info">{% trans 'Отмена' %}</button>
                    </a>
                </div>
            </div>


        </div>
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true"><!--modal-->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans 'Внимание!' %}</h4>
                    </div>
                    <div class="modal-body">
                        {% trans 'Объявление будет удалено, восстановить не возможно!' %}
                    </div>
                    <div class="modal-footer">
                        <form action="" method="post">
                            {% csrf_token %}
                            <button type="button" class="btn btn-default"
                                    data-dismiss="modal">{% trans 'Отмена' %}</button>
                            <input type="submit" class="btn btn-danger" value="{% trans 'Удалить' %}"/>
                        </form>
                    </div>
                </div>
                <!--/modal-->
            </div>
        </div>

    </div>
{% endblock %}