{% load static %}
{% load thumbnail %}

<div class="shop-slider p-4 rounded">
    <div class="owl-carousel slider-2 owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                {% for product in shop.product_sets.all %}

                    {% include 'main/owl-item.html' %}

                {% endfor %}

            </div>
        </div>
    </div>
</div>