{% extends 'layout/basic.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}


{% block title %}{% trans 'Поиск' %}{% endblock %}

{% block content %}
    <div class="container">

        <h1 class="h1 main-title mt-5 mb-5">{% trans 'Результат поиска' %}</h1>

        <div class="card-deck">

            {% for product in search_list %}

                <div class="col-12 col-sm-8 col-md-6 col-lg-4 pb-3">
                    {% include 'main/product-card.html' %}
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}