.account-sidebar {
  padding: 16px 14px;
  max-width: 100%;
  border: 1px solid #e2e5ea;
  box-sizing: border-box;
  border-radius: 10px;
  position: sticky;
  top: 10px;
}

.account-info {
  margin-bottom: 15px;
}

.account-name {
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2a3d5f;
}

.account-photo img {
  min-width: 100%;
}

.account-photo {
  margin: 0 20px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  position: relative;
}

.account-photo::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #6fcf97;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.account-location {
  margin-bottom: 14px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2a3d5f;
}

.account-location i {
  margin-right: 6px;
  color: #bac1ce;
}

.account-location p {
  margin-top: 3px;
  color: #8c99b3;
}

.account-menu {
  display: flex;
  flex-direction: column;
}

.account-menu--item {
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #2a3d5f;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.3s;
  width: 100%;
}

.account-menu--item:hover {
  border: 1px solid #e2e5ea;
  color: #2a3d5f;
  text-decoration: none;
  background-color: #f1f2f4;
}

.account-menu--item--active {
  background-color: #f1f2f4;
}
