.filter-dropdown .dropdown {
  border: 1px solid #e2e5ea;
  border-radius: 6px;
  height: 48px;
  min-width: 125px;
  max-width: 200px;
  margin-left: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.filter-dropdown .dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
  background-image: none !important;
}

.filter-dropdown-item {
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 12px;
}

.list-item__dropdown {
  display: none;
}

.list__dropdown-item {
  display: block;
  padding: 10px 5px 10px 12px;
  font-size: 12px;
}

.list-item__dropdown .list__dropdown-item:last-child {
  padding-bottom: 20px;
}

.item-filter {
  padding: 15px;
  max-width: 220px;
  height: 100%;
  background: #f5f6f8;
  border-radius: 10px;
  position: sticky;
}

.filter-price {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #2a3d5f;
}

.price-input {
  margin-right: 2px;
  padding: 8px;
  max-width: 88px;
  height: 32px;
  border: 1px solid #e2e5ea;
  box-sizing: border-box;
  border-radius: 6px;
}

.filters__block-item input[type=radio] {
  display: none;
}

.filters__block-item input[type=radio]:checked + label::before {
  background: url('../img/icon-rectangle.png') center no-repeat;
  width: 16px;
  height: 16px;
}

.filters__block-item label::before {
  margin-bottom: -3px;
  margin-right: 8px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #e2e5ea;
  box-sizing: border-box;
  border-radius: 4px;
}

.filters__block-item {
  display: flex;
  flex-direction: column;
}

.filters__block-item label {
  font-family: 'open sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2a3d5f;
}

.filters__block-btn {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.filters__btn {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 40px;
  border-radius: 5px;
  font-family: 'open sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.filters__btn:nth-child(1) {
  background: #ff8367;
  color: #fff;
}

.filters__btn:nth-child(2) {
  background: #e2e5ea;
  color: #5d719a;
}
