.message-unread {
  background-color: #e8e8e8;
}

#message-send-button {
  height: 100%;
  width: 100%;
}

#message-text-input {
  resize: none;
  width: 100%;
  height: 100%;
}

#messages-panel {
  height: 80vh;
  overflow-y: scroll;
}