header {
  display: flex;
  flex-direction: column;
}

.header-top__menu {
  display: flex;
  min-height: 70px;
  align-items: center;
}

.header-link {
  text-decoration: none;
  border-radius: 30px;
  color: #000;
  padding: 7px 10px;
  transition: 0.6s;
  font-size: 14px;
}

.header-link:hover {
  color: #ff8367;
  background-color: #ffeeea;
  transition: 0.15s;
  text-decoration: none;
}

.header-link--active {
  background-color: #ffeeea;
}

.lang-select {
  color: #495057;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ced4da;
}

.change-ling-btn {
  color: #495057;
  background-color: #fff;
  padding-left: 5px;
  border: 1px solid #fff;
}

.header-city-select {
  align-items: center;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.header-city-select::before {
  position: absolute;
  content: "";
  background: url('../img/svg/Vector 6.svg') no-repeat center;
  width: 12px;
  height: 13px;
}

.dropdown-toggle::after {
  content: none;
}

.header-top .btn {
  font-size: 14px;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25) !important;
  z-index: 11111;
}

.dropdown-item {
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 1.3rem;
  transition: 0.15s;
}

.header-bottom {
  background: #bde3ff;
  min-height: 72px;
}

.header-bottom__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 16px 0;
}

.form-header-search {
  display: flex;
  height: 40px;
}

.form-header-search input {
  height: 100%;
}

.form-header-search input:first-child {
  border-radius: 6px 0 0 6px;
  color: #000;
  font-size: 14px;
  max-width: 365px;
  min-width: 100px;
  padding-left: 16px;
  width: 100%;
}

.form-header-search input:first-child::placeholder {
  color: #8c99b3;
}

.form-header-search input:last-child {
  background: url('../img/svg/search.svg') no-repeat center;
  min-width: 56px;
}

.submit-wrapper {
  background: #5d719a;
  border-radius: 0 6px 6px 0;
}

.btn-create-announcement {
  text-decoration: none;
  background: #ff8367;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px 24px;
}

.btn-create-announcement:hover {
  background: #ff6767;
  color: #fff;
  text-decoration: none;
}

.header-profile {
  display: flex;
  position: relative;
}

.profile__button-group {
  display: flex;
}

.profile__button-group a:first-child {
  border-radius: 50% 0 0 50%;
  padding-left: 0.25rem;
}

.profile__button-group a:last-child {
  border-radius: 0 50% 50% 0;
  padding-right: 0.25rem;
}

.profile__button-group > a:hover {
  background: #ff8367;
  color: #fff;
}

i .fas {
  font-size: 16px;
}

.profile-message,
.profile-favorites,
.profile-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #aad5f4;
  width: 48px;
  height: 48px;
  color: #2a3d5f;
}

.profile-message:hover,
.profile-favorites:hover,
.profile-basket:hover {
  background-color: #f1b0b7;
}

.profile-menu {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  padding: 15px;
  position: absolute;
  right: -80px;
  top: 50px;
  z-index: 4;
}

/* треугольник в popup menu */
.profile-menu::before {
  border: 15px solid transparent;
  border-bottom: 15px solid white;
  content: '';
  position: absolute;
  right: 100px;
  top: -24px;
  z-index: 3;
}

.profile-menu-dropdown:hover > .profile-menu {
  display: grid;
}

.profile-menu-dropdown {
  margin: 0 20px;
  position: relative;
  min-width: 40px;
}

.profile-menu-dropdown img {
  vertical-align: middle;
}

.profile-menu-item {
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  color: #2a3d5f;
  border: 1px solid #f1f2f4;
  background-position: top;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  padding: 16px;
}

.profile-menu-item:hover {
  text-decoration: none;
  color: #ff8367;
  border: 1px solid #aad5f4;
  background-color: #f1f2f4;
}

.profile-dropdown {
  position: absolute;
  top: 135px;
  right: 0;
  background: #eee;
  width: 300px;
  height: 300px;
  display: none;
}

.profile-dropdown-active {
  display: block;
  z-index: 2;
}

.fas .fa-car {
  height: 32px;
  width: 32px;
}

i .fa-shopping-cart {
  display: inline-block;
  align-content: center;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
}

/* Navbar container */
.header-menu {
  overflow: hidden;
  background-color: #bde3ff;
}

/* The dropdown container */
.header-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.header-dropdown .dropbtn {
  background: #5d719a;
  padding: 8px 16px;
  margin: 0 20px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border: none;
  outline: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Show the dropdown menu on hover */
.header-dropdown:hover .dropdown-content {
  display: grid;
}

/* Style links inside the columns */
.menu-column-link {
  font-size: 12px;
  text-decoration: none;
  display: block;
  color: #2a3d5f;
}

/* Add a background color on hover */
.menu-column-link:hover {
  color: #ff8367;
  text-decoration: none;
}

.dropdown-button {
  background-color: #5d719a;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.dropdown-menu {
  display: none;
  position: relative;
}

.dropdown-menu:hover .content {
  display: block;
}

.tabs-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.tabs {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 16px 0;
}

.tab-link {
  display: block;
  position: relative;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  opacity: 1;
  top: 0;
}

.menu-link {
  color: #2a3d5f;
  transition: all 0.1s ease-in-out;
  font-size: 13px;
  text-decoration: none;
}

.fa-arrow-circle-right,
.fa-caret-right {
  color: #2a3d5f;
}

.tab-link:hover {
  background-color: #fff;
  color: #ff8367;
}

.menu-link:hover {
  color: #ff8367;
  text-decoration: none;
}

.tab-link:hover > .menu-link,
.tab-link:hover {
  opacity: 1;
  top: 0;
  color: #ff8367;
  text-decoration: none;
}

.tabs-content {
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 0 4px 4px 4px;
  background: #fff;
  border-left: 1px solid #ddd;
}

.tabs-panel {
  display: none;
  min-width: 130px;
  width: 100%;
}

.content-active {
  display: block;
}

.tab-active {
  background-color: #fff;
}

.menu-column {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 10px;
  min-width: 130px;
}

.menu-column:first-child {
  margin-top: 0;
}

.menu-column-list {
  column-count: 3;
}

.font-weight-bold {
  color: #2a3d5f;
}

@media screen and (max-width: 600px) {
  .tabs {
    flex-direction: column;
  }

  .tabs li {
    width: 100%;
  }

  .tabs li:not(:last-child) {
    margin-right: 0;
  }

  .tab-link {
    border-radius: 0;
    opacity: 1;
    top: 0;
  }

  .tabs-content {
    border-radius: 0;
  }
}
