.breadcrumb {
  background-color: #fff;
  font-size: 14px;
  color: #2a3d5f;
}

.breadcrumb-link {
  color: #2a3d5f;
  text-decoration: none;
  font-size: 14px;
}

.slider-index > .owl-item {
  width: 170px;
}

.product-card {
  position: relative;
  width: 245px;
  max-width: 300px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
}

/* slider */
.home-slider .owl-item .owl-item-link {
  background: linear-gradient(269.32deg, #f4f4f4 0.22%, #f4f4f4 0.23%, #f5f6f8 99.78%);
}

.home-slider .owl-item .owl-item-link:hover {
  background: linear-gradient(269.32deg, #d9d5d5 0.22%, #cea8a8 0.23%, #c1c3c7 99.78%);
  text-decoration: none;
}

.home-slider .owl-item img {
  padding-right: 10px;
  margin: 0 !important;
}

.home-slider .owl-nav {
  position: absolute;
  width: 100%;
  top: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}

.home-slider .owl-nav .owl-prev {
  float: left;
  position: relative;
  left: 30px;
  background-color: #fff;
  font-weight: bold;
  line-height: 1;
  font-size: 30px;
  transition: all 0.2s;
}

.home-slider .owl-nav .owl-prev::before {
  content: "";
  position: absolute;
  top: 52%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 81px;
  height: 75px;
  left: 9px;
  background: linear-gradient(-271.07deg, #fff 3.23%, rgba(255, 255, 255, 0) 97.18%);
}

.home-slider .owl-nav .owl-prev:hover {
  transition: all 0.2s;
  background-color: #fff;
}

.home-slider .owl-nav .owl-next {
  float: right;
  position: relative;
  top: 0;
  right: 30px;
  width: 30px;
  height: 50px;
  font-weight: bold;
  background-color: #fff;
}

.home-slider .owl-nav .owl-next::before {
  content: "";
  position: absolute;
  top: 54%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 81px;
  height: 75px;
  left: 31px !important;
  background: linear-gradient(271.07deg, #fff 3.23%, rgba(255, 255, 255, 0) 97.18%);
}

.home-slider .owl-nav .owl-next:hover {
  transition: all 0.2s;
  background-color: #fff;
}

.slider-category-icon {
  height: 45px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-home {
  background-image: url("../img/category/icon-category-slider-house.png");
}

.icon-car {
  background-image: url("../img/category/icon-category-slider-car.png");
}

.icon-phone {
  background-image: url("../img/category/icon-category-slider-iphone.png");
}

.icon-bicycle {
  background-image: url("../img/category/icon-category-slider-bicycle.png");
}

.icon-dress {
  background-image: url("../img/category/icon-category-slider-dress.png");
}

.icon-work {
  background-image: url("../img/category/icon-category-slider-work.png");
}

.icon-startup {
  background-image: url("../img/category/icon-category-slider-startup.png");
}

.icon-fire {
  background-image: url("../img/category/icon-fire.png");
}

.icon-medic {
  background-image: url("../img/category/icon-medic.png");
}

.icon-flowers {
  background-image: url("../img/category/icon-flowers.png");
}

.icon-zoology {
  background-image: url("../img/category/icon-category-slider-zoology.png");
}

.icon-consulting {
  background-image: url("../img/category/icon-category-slider-consulting.png");
}

.icon-kitchen {
  background-image: url("../img/category/icon-category-slider-kitchen.png");
}

.icon-hobby {
  background-image: url("../img/category/icon-category-slider-hobby.png");
}

#notifications-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
