@media screen and (max-width: 550px) {

}

@media screen and (max-width: 440px) {
  .slider-2__first-slider {
    padding: 28px 0 6px 6px;
  }
}

@media screen and (max-width: 1023px) {
  .content-1 {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  .slider-2__first-slider {
    padding-right: 16px;
  }
}

@media screen and (max-width: 1178px) {
  .shop-page-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* my-advert */
@media screen and (max-width: 598px) {
  .my-advert__col {
    margin-bottom: 30px;
  }

  .account-sidebar {
    width: 100%;
    padding: 24px;
  }
}

@media screen and (max-width: 768px) {

  .filters__btn {
    width: 100%;
  }

  .price-input {
    margin-bottom: 10px;
    max-width: 100%;
  }

  .filters__block-item {
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    width: 100vw;
    max-width: 100vw;
  }
}

/* view-product */
@media screen and (max-width: 1200px) {
  .view-product__title {
    justify-content: flex-start;
  }

  .view-product__name {
    margin-right: 50px;
  }

  .view-product__content {
    flex-direction: column;
  }

  .item-text {
    max-width: 100%;
  }

  .item-metadata-seller {
    width: 100%;
    max-width: 100%;
  }

  .view-product__content .view-product__col:last-child {
    margin-left: 0;
  }

  .view-product {
    padding: 0;
  }

  .view-product__content .view-product__col:first-child {
    padding: 0 30px;
  }

  .view__pages {
    padding-left: 20px;
  }
}

@media screen and (max-width: 420px) {
  .details__criterion-block {
    margin-right: 10px;
  }

  .view-product__content .view-product__col:first-child {
    padding: 0 10px;
  }
}

@media screen and (max-width: 400px) {
  .item-metadata-seller {
    padding: 24px 10px 0 10px;
  }
}

@media screen and (max-width: 350px) {
  .view-product__details {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  footer {
    height: 160px;
  }

}

@media screen and (max-width: 523px) {
  footer {
    height: 160px;
  }
}

@media screen and (max-width: 804px) {
  .img-2 {
    width: 272px;
  }

  footer {
    height: 160px;
  }
}

@media screen and (max-width: 490px) {
  footer {
    height: 160px;
  }
}

@media screen and (max-width: 415px) {
  .details__criterion-block {
    margin-bottom: 30px;
  }

  footer {
    height: 160px;
  }
}

@media screen and (max-width: 380px) {
  .view-product__title {
    font-size: 25px;
  }

  footer {
    height: 160px;
  }
}

@media screen and (max-width: 337px) {
  footer {
    height: 160px;
  }
}
