.home-slider .owl-item img {
  padding-right: 10px;
  margin: 0 !important;
}

.owl-item__favorite {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 12px;
  border-radius: 50%;
  color: #000;
  background: rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.owl-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  overflow: hidden !important;
}

.owl-item-link {

}

.info-wrap {
  width: 170px;
}

.city-name {
  font-size: 12px;
}

.shop-image {
  min-height: 136px !important;
  max-height: 136px !important;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.product-name {
  text-decoration: none;
  font-size: 12px;
  color: #2a3d5f;
  text-overflow: ellipsis;
}

.product-price {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
