.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.37rem;
}

.product-list .card-body {
  font-family: "Open Sans", Helvetica, Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0.34deg, rgb(244, 244, 244) 0.39%, rgb(245, 246, 248) 35.68%);
  border-radius: 10px;
}

.card .img-wrap {
  overflow: hidden;
}

.card-product-grid {
  margin: 8px;
  width: 200px;
  /*height: 250px;*/
}

.card-product-grid:hover {
  box-shadow: 0 4px 12px rgba(153, 153, 153, 0.3);
  transition: 0.3s;
}

.product-card-like {
  padding: 10px 14px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.like--active {
  background-color: #FA6A51;
}

.product-card-like i {
  color: #fff;
}

.product-card-like:hover {
  animation: gradus 1s ease-in-out 0s infinite;
}

.product-card-title {
  padding: 0;
  margin: 0;
}

.product-link {
  text-decoration: none;
  color: #2a3d5f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.product-card-price {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2a3d5f;
  margin-top: 10px;
  padding: 0;
}
