.registration-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 2px;
  background: #ff8367;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.registration-panels {
  background: #fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 200px;
  width: 100%;
  max-width: 300px;
  border-radius: 3px;
  overflow: hidden;
  padding: 2em;
}

.panel {
  display: none;
  flex-direction: column;
  animation: fadein 0.8s;
  margin: 0 auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.radio {
  display: none;
}

#one:checked ~ .registration-panels #one-panel,
#two:checked ~ .registration-panels #two-panel {
  display: flex;
}

#one:checked ~ .registration-tabs #one-tab,
#two:checked ~ .registration-tabs #two-tab {
  background: #fffffff6;
  color: #000;
  border-top: 3px solid #ff8367;
}

.registration__input {
  padding-left: 12px;
  margin-top: 12px;
  width: 240px;
  height: 32px;
  border: 1px solid #d4d9e1;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2a3d5f;
}

.js-registration__input-error {
  border: 1px solid red;
}

.js-registration__input-success {
  border: 1px solid #20c997;
}

.field-icon {
  float: right;
  margin-right: 10px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.login-button {
  padding: 10px 25px;
  background: #ff8367;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #fff;
  border: 3px solid;
}

.login-button:hover {
  color: #fff;
  background-color: #e35f41;
}

.registration-text {
  margin: 30px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.3px;
  font-size: 12px;
  color: #ff8367;
  text-decoration: none;
}

.reset-password {
  padding: 15px 20px;
  color: #2a3d5f;
  text-decoration: none;
}

.reset-password:hover {
  color: #e35f41;
}
