/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic'); */

.shop-card {
  width: calc(50% - 12px);
  max-width: calc(50% - 12px);
  padding: 12px 12px;
}

.shop-card a:hover {
  color: #000;
}

@media (max-width: 437px) {
  .shop-card {
    width: calc(100% - 12px);
    max-width: calc(100% - 12px);
  }
}

@media (max-width: 966px) {
  .shop-card {
    width: calc(100% - 12px);
    max-width: calc(100% - 12px);
  }
}

.shop-brand {
  display: flex;
  background: #f1f2f4;
  padding: 28px 15px 16px 32px;
  border-radius: 16px 16px 0 0;
  transition: 0.2s;
  margin-bottom: -1px;
}

.shop-brand:hover {
  background: #d4d9e1;
}

.brand__logo {
  width: 56px;
  max-width: 56px;
  height: 56px;
  max-height: 56px;
}

.shop-name-brand {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 24px;
  position: relative;
  width: 100%;
}

.shop-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #2a3d5f;
}

.shop-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2a3d5f;
  position: absolute;
  top: 30px;
}

.shop-slider {
  background: #f1f2f4;
}

.shop-slider .owl-nav {
  position: absolute;
  width: 100%;
  top: 42%;
  transform: translateY(-50%);
  z-index: 999;
}

.shop-slider .owl-nav .owl-prev {
  float: left;
  position: relative;
  left: 10px;
  background-color: #fff;
  font-weight: bold;
  line-height: 1;
  font-size: 38px;
  transition: all 0.2s;
}

.shop-slider .owl-nav .owl-prev::before {
  content: "";
  position: absolute;
  top: 20px;
  transform: translate(-50%, -50%);
  display: block;
  width: 81px;
  height: 248px;
  left: 30px;
  background: linear-gradient(-270deg, rgba(241, 242, 244, 0.8) 3.23%, rgba(241, 242, 244, 0) 97.18%);
}

.shop-slider .owl-nav .owl-next::before {
  content: "";
  position: absolute;
  top: 20px;
  transform: translate(-50%, -50%);
  display: block;
  width: 81px;
  height: 248px;
  left: 10px !important;
  background: linear-gradient(270deg, rgba(241, 242, 244, 0.8) 3.23%, rgba(241, 242, 244, 0) 97.18%);
}

.shop-slider .owl-nav .owl-prev:hover {
  transition: all 0.2s;
  background-color: #fff;
}

.shop-slider .owl-nav .owl-next {
  float: right;
  position: relative;
  top: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  font-weight: 700;
  background-color: #fff;
}

.shop-slider.owl-nav .owl-next:hover {
  transition: all 0.2s;
  background-color: #fff;
}

.owl-item .shop-image-big img {
  max-width: 100%;
  vertical-align: middle;
}
