/* home-slider */
.owl-item-link {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 14px 18px 14px 13px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.owl-item:hover {
  background-color: #e5e4e4;
  text-decoration: none;
}

.home-slider .owl-item img {
  padding-right: 10px;
  margin: 0 !important;
}

.home-slider .owl-nav {
  position: absolute;
  width: 100%;
  top: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}

.home-slider .owl-nav .owl-prev {
  float: left;
  position: relative;
  left: 30px;
  background-color: #fff;
  font-weight: bold;
  line-height: 1;
  font-size: 38px;
  transition: all 0.2s;
}

.home-slider .owl-nav .owl-prev:hover {
  transition: all 0.2s;
  background-color: #fff;
}

.home-slider .owl-nav .owl-next {
  float: right;
  position: relative;
  top: 0;
  right: 30px;
  width: 30px;
  height: 50px;
  font-weight: bold;
  background-color: #fff;
}

.home-slider .owl-nav .owl-next:hover {
  transition: all 0.2s;
  background-color: #fff;
}

/* slider-2 */
.slider-2 .owl-nav .owl-next:hover {
  transition: all 0.2s;
  background-color: #fff;
}
