/* fonts */
@font-face {
  font-family: 'SF Pro Rounded';
  src: url('../fonts/SF-ProRounded-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

/* base */
body {
  overflow-x: hidden;
  margin-bottom: 160px;
  font-family: system, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Segoe WP', Roboto, Ubuntu, Oxygen, Cantarell, 'Fira Sans', 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Droid Sans', Tahoma, 'Microsoft Sans Serif', sans-serif;
  font-size: 14px;
}

.slider {
  max-width: 1160px;
  margin: 0 auto;
  min-height: 50px;
}

.owl-carousel {
  position: relative;
}

.owl-nav button {
  width: 40px !important;
  height: 40px !important;
  transition: 0.2s;
}

.owl-nav button:hover {
  transition: 0.25s;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3) !important;
}

.owl-carousel .owl-item img {
  width: auto !important;
  margin: auto;
  vertical-align: middle;
}

.owl-theme .owl-nav .disabled {
  opacity: 0 !important;
  transition: 0.4s !important;
}

.owl-prev span,
.owl-next span {
  font-size: 40px !important;
  font-family: inherit;
  color: #4f4f4f !important;
  position: absolute;
}

.owl-prev span {
  top: -34%;
  left: 30%;
}

.owl-next span {
  top: -37%;
  left: 39%;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  margin: 0 !important;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #fff !important;
  color: #4f4f4f !important;
}

.owl-theme .owl-nav {
  margin-top: 0 !important;
  height: 0;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #2a3d5f;
  margin: 0;
}

.main-title {
  margin-right: 24px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #2a3d5f;
}

.store-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.store-title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #2a3d5f;
}

.store-subtitle {
  color: #2a3d5f;
  font-size: 14px;
}

.item-price {
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 0.5px;
  color: #2a3d5f;
}

.btn-info {
  background: #5d719a;
  padding: 2px 10px;
  font-size: 13px;
}

.btn-info:hover {
  background: #ff8367;

  outline: none;
}

.btn-warning {
  font-size: 13px;
  padding: 2px 10px;
}

.shop-page-header {
  display: flex;
  align-items: flex-end;
  max-width: 1160px;
  margin: 0 auto;
}

.page-name {
  padding-right: 15px;
}

.page-subtitle {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8c99b3;
}

/* SMM icon */
.vk {
  background-size: 24px 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/svg/vk1.svg");
  width: 24px;
  height: 14px;
}

.ok {
  background: url("../img/svg/ok.svg") center / 14px 22px no-repeat;
  width: 14px;
  height: 22px;
}

.tw {
  background: url("../img/svg/twitter.svg") center / 24px 18px no-repeat;
  width: 24px;
  height: 18px;
}

.inst {
  background: url("../img/svg/icons8-instagram.svg") center / 24px 24px no-repeat;
  width: 24px;
  height: 24px;
}

.fb {
  background: url("../img/svg/fb.svg") center / 11px 22px no-repeat;
  width: 11px;
  height: 22px;
}

/* Footer */
footer {
  width: 100%;
  overflow: hidden;
  font-family: 'Open Sans', "Droid Serif", "DejaVu Serif", Roboto, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  bottom: 0;

  /* Set the fixed height of the footer here */
  height: 60px;
  background: #f5f5f5 linear-gradient(265.47deg, #f4f4f4 0.22%, #f4f4f4 0.23%, #f5f6f8 99.78%);
}

footer .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__brandname {
  color: #2a3d5f;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-align: center;
}

.footer-link {
  margin-left: 12px;
  color: #8c99b3;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 471px) {
  .form-header-search input[type="text"] {
    max-width: 100%;
  }

  .profile-message {
    margin-left: 0;
  }
}

@media screen and (max-width: 683px) {
  .btn-create-announcement {
    order: 2;
  }

  .category__points {
    display: none;
  }

  .category__list {
    width: 100%;
  }
}

@media screen and (max-width: 966px) {
  .header-profile {
    padding-top: 15px;
  }
}

@media screen and (max-width: 414px) {
  .store {
    padding-left: 25px;
  }
}

.vk:hover,
.fb:hover,
.ok:hover,
.inst:hover,
.tw:hover {
  animation: swinging 15s ease-in-out 0s infinite;
}

@keyframes swinging {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(12deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  15% {
    transform: rotate(9deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  25% {
    transform: rotate(7deg);
  }

  30% {
    transform: rotate(-6deg);
  }

  35% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  45% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes aitf {
  0% {
    background-position: 0 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes gradus {
  0% {
    background: rgba(250, 230, 225, 0.6);
  }

  50% {
    background: rgba(250, 194, 184, 0.6);
  }

  100% {
    background: rgba(250, 106, 81, 0.8);
  }
}

/* sticky-footer */
html {
  position: relative;
  min-height: 100%;
}
