.item-metadata {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #8c99b3;
  margin: 0;
}

.item-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2a3d5f;
}

.item-text {
  max-width: 735px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2a3d5f;
}

.details__title {
  margin-bottom: 21px;
}

.details__criterion-block {
  margin-right: 40px;
  display: inline-block;
}

.details__criterion-item {
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #8c99b3;
}

.details__info-block {
  display: inline-block;
}

.details__info-item {
  margin-bottom: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #2a3d5f;
}

.item-metadata-seller {
  background: #f5f6f8;
  border-radius: 10px;
}

.seller__top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  color: #2a3d5f;
}

.seller__top-btn:hover {
  background-color: #ff8367;
  color: #fff8ec;
}

.seller__top-btn i {
  margin-right: 7px;
}

.btn-seller {
  margin: 4px;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #fff;
  background-color: #5d719a;
}

.btn-seller:hover {
  color: #fff;
  background-color: #0f6674;
  text-decoration: none;
}

.show-phone {
  margin: 4px;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #fff;
  background-color: #4c4d4e;
}

.show-phone:hover {
  background-color: #2a3d5f;
}

.btn-seller-orange {
  background: #ff8367;
}

.btn-seller-orange:hover {
  background: #dd6449;
}

.send-message {
  background: #5d719a;
}

.send-message:hover {
  color: #fff;
  background-color: #5d7e9a;
}

.btn-seller i {
  margin-right: 23px;
  transform: scale(1.5);
}

.seller-metadata {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}

.seller-contact {
  display: flex;
  flex-direction: column;
}

.seller-photo {
  position: relative;
  margin-right: 20px;
}

.account__online::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: -5%;
  width: 13px;
  height: 13px;
  background: #6fcf97;
  border: 2px solid #fff;
  border-radius: 50%;
}

.seller-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #8c99b3;
}

.seller-name {
  letter-spacing: 0.3px;
  color: #2a3d5f;
  text-decoration: none;
  font-weight: 600;
}

.alert-link {
  color: #2a3d5f;
  text-decoration: none;
  font-size: 14px;
}
