{% extends 'layout/basic.html' %}

{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block title %}
    {% trans 'Корзина' %}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="h1">{% trans 'Корзина' %}</h1>

        <div class="container padding-bottom-3x mb-1 mt-4">
            <!-- Shopping Cart-->
            <div class="table-responsive shopping-cart">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans 'Фото' %}</th>
                        <th>{% trans 'Название' %}</th>
                        <th class="text-center">{% trans 'Количество' %}</th>
                        <th class="text-center">{% trans 'Цена' %}</th>
                        <th class="text-center">
                            <a class="btn btn-sm btn-outline-danger"
                               href="{% url 'cart:cart-clear' %}">{% trans 'Очистить корзину' %}</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in cart.items.all %}

                        <tr>
                            <td>
                                <a class="product-thumb" href="{{ product.get_absolute_url }}">
                                    <div class="product-image">
                                        {% if product.get_main_image %}
                                            <img height="131" width="131"
                                                 src="{% thumbnail product.get_main_image.images 131x131 crop=scale %}"
                                                 alt="{{ product.name }}">
                                        {% else %}
                                            <img height="131" width="131" src="{% static 'img/slider/no-image.png' %}"
                                                 alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="product-info">
                                    <h4 class="product-title">
                                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                    </h4>
                                </div>
                            </td>
                            <td class="text-center align-middle">
                                <div class="count-input">
                                    <input class="form-control" type="number" value="1" id="example-number-input">
                                </div>
                            </td>

                            <td class="text-center text-lg text-medium align-middle">
                                {{ product.price }}{{ product.currency }}</td>

                            <td class="text-center align-middle ">
                                <a class="remove-from-cart" href="{% url 'cart:cart-remove' product_id=product.id %}"
                                   data-toggle="tooltip"
                                   title=""
                                   data-original-title="Remove item"><i
                                        class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                    {% if cart.items.count > 0 %}
                        <tr>
                            <td></td>
                            <td class="font-weight-bolder align-middle">
                                {% trans "Доставка" %}
                            </td>
                            <td class="text-center align-middle"></td>
                            <td class="text-center text-lg text-medium align-middle">2 ლ</td>
                            <td class="text-center align-middle "></td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="shopping-cart-footer">
                <div class="column text-lg">{% trans 'Итог: ' %}<span id="total_sum"
                                                                      class="text-medium">
                    {% if cart.items.count > 0 %}
                        {{ cart.get_total_sum|floatformat }}
                    {% else %}
                        0
                    {% endif %}
                    </span>
                </div>
            </div>
            <div class="shopping-cart-footer">
                <div class="column">
                    <a class="btn btn-outline-secondary" href="{% url "shops:shops-list" %}">
                        <i class="icon-arrow-left"></i>{% trans 'Назад к покупкам' %}</a></div>
                <div class="column">
                    <a id="checkout" class="btn btn-success disabled"
                       href="{% url 'orders:order-create' %}">{% trans 'Оформить' %}</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        let total_sum = "{{ cart.get_total_sum|floatformat }}"
        {# Проверяем есть ли в корзине товары - вычитая цену доставки #}
        if (parseInt(total_sum.replace(/\s+/g, '')) - {{ cart.TAX_DELIVERY }} !== 0) {
            document.getElementById("checkout").classList.remove('disabled')
        }

    </script>
{% endblock %}