{% extends 'layout/basic.html' %}
{% load static i18n %}

{% block content %}

<div class="container">
    <div class="d-flex flex-column">
        <h1 class="mt-5 m-auto">{% trans 'Ваш пароль успешно изменен!' %}</h1>
    </div>
</div>

{% endblock %}