{% extends 'layout/basic.html' %}


{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load chat_tags %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/dialog.css' %}">
{% endblock %}


{% block title %}
    {% get_companion dialog user as companion %}
    {% trans 'Диалог с' %} {{ companion.username }}
{% endblock %}

{% block content %}
    {% get_companion dialog user as companion %}

    <div class="container">
        <div class="col-md-12">
            <div class="seller-metadata">
                <div class="seller-photo">
                    {% if companion.avatar or companion.brand_image %}
                        <img src="{% thumbnail companion.avatar 48x48 crop=scale %}" alt="">
                    {% else %}
                        <img class="img-thumbnail img-rounded" height="48px" width="48px"
                             src="{% static 'img/blank-profile-picture.png' %}"
                             alt="">
                    {% endif %}
                </div>
                <div class="seller-content">
                    <div class="seller-name">
                        <a href="{% url 'users:account-detail' pk=companion.id %}">{{ companion.get_full_name }}</a>
                    </div>
                    <span> {{ companion.city }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-3" id="messages-panel"></div>
        <div class="col-md-12">
            <div class="row">
                <div id="connection-alert" class="alert alert-info d-none" role="alert">
                    {% trans "Отсутствует подключение. Пытаемся подключиться снова" %}
                </div>
                <div class="col-md-11" style="padding: 0">
                    <textarea name="text" id="message-text-input" rows="2"></textarea>
                </div>
                <div class="col-md-1" style="padding: 0">
                    <button id="message-send-button" disabled>{% trans "Отправить" %}</button>
                </div>
            </div>
        </div>
    </div>

    {% verbatim %}
    <template id="message-template">
        <div class="mt-3 {{^is_read}}message-unread{{/is_read}}" data-message-id="{{id}}"
             data-{{author.type}}-id="{{author.id}}">
            <img src="{{author.avatar_thumbnail}}" width="48px" alt="">

            <div style="white-space: pre;">{{text}}</div>
            <div class="mt-2">{{date}}</div>
        </div>
    </template>
    {% endverbatim %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/chat/Dialog.js' %}"></script>

    <script>
        window.addEventListener("load", () => {
            window.dialog = new Dialog(window.WS, {{ dialog.id }}, {{ user.id }});
        });
    </script>
{% endblock %}