{% extends 'layout/basic.html' %}

{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load chat_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/dialog.css' %}">
{% endblock %}

{% block title %}
    {% trans 'Сообщения' %}
{% endblock %}

{% block content %}
    <div class="container mt-3" id="dialogs-panel">

        {% verbatim %}
        <template id="dialog-template">
            <a href="{{url}}" data-dialog-id="{{id}}">

                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="seller-metadata">
                                <div class="seller-photo">
                                    <img src="{{companion.avatar_thumbnail}}" width="48px" alt="">
                                </div>
                                <div class="seller-content">
                                    <div class="seller-name">
                                        {{companion.name}}
                                    </div>
                                    <small class="message-date">{{last_message.date}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="message-text {{^last_message.is_read}}message-unread{{/last_message.is_read}}">
                                {{last_message.text}}
                            </div>
                        </div>
                    </div>

                </div>

            </a>
        </template>
        {% endverbatim %}

    </div>
{% endblock %}

{% block script %}
    {#    <script src="{% static 'js/chat/Dialogs.js' %}"></script>#}

    <script>
        window.addEventListener("load", () => {
            window.dialogs = new Dialogs(window.WS, {{ user.id }});
        });
    </script>
{% endblock %}