{% extends 'layout/base-shop.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Добавить товар' %} {{ shop.name }} {% endblock %}

{% block content %}
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
        </svg>
    </div>
    <div id="main-wrapper">
        {% include 'layout/menu.html' %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9">
                    <h5 class="h5 mt-5">{% trans 'Создание товара в магазине: ' %}"{{ shop.name }}"</h5>
                    <hr class="mt-0 mb-4">
                    <div class="col-md-8 mt-4">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                {% if field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <p>{{ field.errors }}</p>
                                    </div>
                                {% endif %}
                                {{ form|crispy }}
                            </div>
                            <fieldset>
                                <legend>Add image:</legend>

                                {% if product_image_form.errors %}
                                    {{ product_image_form.errors }}
                                {% endif %}
                                {{ product_image_form |crispy }}
                            </fieldset>
                            <input type="submit" value="Add product" class="btn btn-success submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}