{% extends 'layout/base-shop.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Список товаров' %} {% endblock %}

{% block content %}
    <div id="main-wrapper">
        {% include 'layout/menu.html' %}
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">{% trans 'Список товаров' %}</h3>
                    </div>
                </div>
                <h4 class="card-title">{% trans 'Всего товаров: ' %}<b style="color: red">{{ count_all_product }}</b>
                </h4>

                <div class="mt-auto" style="padding-bottom: 10px">
                    <a href="{% url 'shops:create-product' shop_pk=shop.id %}"
                       class="btn btn-info">{% trans 'Добавить товар' %}</a>
                </div>
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{% trans 'Название' %}</th>
                                            <th scope="col">{% trans 'Описание' %}</th>
                                            <th scope="col">{% trans 'Цена' %}</th>
                                            <th scope="col">{% trans 'Статус' %}</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in product_lists %}
                                            <tr>
                                                <th scope="row">{{ product.id }}</th>
                                                <td><a href="{{ product.get_absolute_url }}"
                                                       target="_blank">{{ product.name }}</a></td>
                                                <td>{{ product.description|truncatechars:200 }}</td>
                                                <td>{{ product.price }}{{ product.currency }}</td>
                                                <td>{{ product.is_active }}</td>
                                                <td><a class="btn btn-info"
                                                       href="{% url "shops:product-edit" shop_pk=product.shop.id pk=product.id %}">{% trans 'Изменить' %}</a>
                                                </td>
                                                <td><a class="btn btn-warning"
                                                       href="{% url "shops:product-delete" pk=product.id %}">{% trans 'Удалить' %}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center">
        © 2020
    </footer>

{% endblock %}
