{% extends 'layout/base-shop.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}


{% block title %}{% trans 'Редактирование продукта' %} {{ product.name }} {% endblock %}

{% block content %}
    {% include 'layout/menu.html' %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <p class="h5 mt-5">{% trans 'Редактирование продукта в магазине: ' %}"{{ shop.name }}"</p>
                <hr>
                <div class="col-md-8 mt-4">
                    <form method="post" enctype="multipart/form-data" role="form">
                        {% csrf_token %}
                        <div>
                            {{ form.errors }}
                            {{ form | crispy }}
                        </div>
                        <fieldset>
                            <legend>Add image:</legend>
                            {#                            {{ product_image_form.errors }}#}
                            {{ product_image_form| crispy }}

                        </fieldset>
                        <input type='submit' class="btn btn-success" value="{% trans "Сохранить" %}">

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
