{% extends 'layout/base-shop.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{% trans 'Редактирование информации магазина: ' %}{{ shop.name }}{% endblock %}

{% block content %}
    <div id="main-wrapper">
        {% include 'layout/menu.html' %}

        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-block">
                                <div class='p-5'>
                                    {% if shop.brand_image %}
                                        <img class="brand__logo" height="121" width="121"
                                             src="{% thumbnail shop.brand_image 121x121 crop=scale %}"
                                             alt="{{ shop.name }}">
                                    {% else %}
                                        <img width="121" height="121" src="{% static 'img/slider/no-image.png' %}">
                                    {% endif %}

                                    <h4 class="card-title m-t-10">{{ shop.name }}</h4>
                                    <h6 class="card-subtitle">{{ shop.description }}</h6>
                                    <h6 class="card-subtitle">{% trans 'Город: ' %}{{ shop.city_shop }}</h6>
                                    <h6 class="card-subtitle">{% trans 'Адрес: ' %}{{ shop.address }}</h6>
                                </div>
                            </div>
                        </div>
                        <!--                    список сотрудников  -->
                        <div class="card">
                            <div class="card-block">
                                <div class='p-5'>
                                    <h4 class="card-title mt-3 pb-3">Список сотрудников:</h4>
                                    <ul class="card-subtitle">
                                        {% for employ in shop.employee.all %}
                                            <li>
                                                <a href="{{ employ.account_user.get_absolute_url }}">{{ employ }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                                <div class="form-horizontal form-material">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-9">
                                                <p class="h4 mt-5">{% trans 'Редактирование магазина: ' %}"{{ shop.name }}"</p>
                                                <hr class="mt-0 mb-4">
                                                <div class="col-md-8 mt-4">
                                                    {% crispy form %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center">
                © 2020 Senca Company
            </footer>
        </div>
    </div>


{% endblock %}