{% extends 'layout/basic.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'О сайте' %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="about">
            <h2 class="title font-weight-bold">{% trans 'Что такое - Senca?!' %}</h2>
            <p class="mt-3">
                {% trans 'Сервис, который поможет купить или продать поддержанный товар или приобрести новый в магазине.' %}
            </p>
        </div>
        <hr>
        <div class="mt-3">
            <h1 class="h1 title">{% trans 'Вы предприниматель?' %}</h1>
            <p>{% trans 'Оставьте заявку на создание магазина в сервисе.' %}</p>
            <p>
                {% if user.is_authenticated %}
                    <a class="lead" href="{% url 'shops:shop-create' %}"
                       style="color: red;">
                        {% trans 'СОЗДАТЬ ЗАЯВКУ' %}
                    </a>
                {% else %}
                    <a href="{% url 'users:login' %}"
                       style="color: red;">{% trans 'СОЗДАТЬ ЗАЯВКУ' %}</a>

                    <i>{% trans 'Нужно быть авторизованным' %}</i>
                {% endif %}
            </p>
        </div>
        <hr>
        <div class="piar mt-5 mb-5">
            <h2 class="h2 title">{% trans 'Реклама и предложения' %}</h2>
            <p class="h5">
                {% trans 'По интересующим вопросам' %} - <b><a
                    href="mailto:support@senca.online">support@senca.online</a></b></p>
        </div>
    </div>
{% endblock %}