{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}
{% load thumbnail %}

{% load crispy_forms_filters %}


{% block title %}{% trans 'Обратная связь' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <h4 class="title mt-5">{% trans 'Создание отзыва:' %}</h4>

            <form enctype="multipart/form-data" method='post' role="form">
                {% csrf_token %}

                <form class="contact-form-class" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <hr>
                    <button type="submit" class="btn btn-success">{% trans 'Создать' %}</button>
                </form>
            </form>
        </div>
    </div>

{% endblock %}
