{% extends 'layout/basic.html' %}
{% load  static i18n %}

{% load static %}
{#  Помощь დახმარება  #}
{% block title %}{% trans 'Помощь' %}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/help.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="h1 title mt-5 mb-3">
            {% trans 'Помощь' %}
        </h1>
        {% for answer in questions %}
            <div class="accordion" id="accordionExample">
                <div class="card" style="border-radius: 10px">
                    <div class="card-header" style="background-color: #7abaff" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#{{ answer.number }}"
                                    aria-expanded="true" aria-controls="collapseOne"
                                    style="color: white; text-decoration: none; font-size: 16px">
                                {{ answer.title }}
                            </button>
                        </h2>
                    </div>

                    <div id="{{ answer.number }}" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body" style="background: none" >
                            {{ answer.content }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
