{% extends 'layout/basic.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Лицензия' %}{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8">
                <h1 class="h1">{% trans 'Лицензия' %}</h1>
                <a href="#" download="">
{#                    <img src="/images/knopki/skachat.png" alt="скачать"/>#}
                    <img src="{% static 'media/../../../../bboard/media/documents/terms_use.pdf' %}" alt="скачать"/>
                </a>
            </div>
        </div>
    </div>
{% endblock %}