{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/all.min.css' %}">
    <!-- Custom CSS -->
    <link href="{% static 'css/style-shop.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/blue.css' %}" id="theme" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body class="fix-header card-no-border">
{% block content %}
{% endblock %}

<!-- All Jquery -->
<!-- ============================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>
<!--stickey kit -->
<script src="{% static 'js/sticky-kit.min.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'js/custom.min.js' %}"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="{% static 'js/jQuery.style.switcher.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block script %}{% endblock %}
</body>
