{% load static %}
{% load thumbnail %}
{% load i18n %}

<header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">

        <div class="navbar-header" style="background-color: #54667a">
            <a class="navbar-brand" href="{% url 'shops:shop-info-edit' pk=shop.id %}">
                <b>
                    {% if shop.brand_image %}
                        <img class="brand__logo" height="56" width="58"
                             src="{% thumbnail shop.brand_image 121x121 crop=scale %}" alt="{{ shop.name }}">
                    {% endif %}

                    {#                    <img src="{% static 'img/favicon.ico' %}" alt="homepage" class="dark-logo"/>#}
                </b>
                <span>
                    <b class="text-white">Управление</b>
                </span>
            </a>
            <div class="navbar-collapse">
            </div>
        </div>

        <ul class="navbar-nav mr-auto mt-md-0 ">
            <li class="nav-item"><a
                    class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" style=""
                    href="javascript:void(0)"><i class="ti-menu"></i></a>
            </li>
        </ul>
    </nav>
</header>

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                {#                <li>#}
                {#                    <a href="index.html" class="waves-effect"><i class="fa fa-clock-o m-r-10"#}
                {#                                                                 aria-hidden="true"></i>{% trans 'Статистика' %}</a>#}
                {#                </li>#}
                <li>
                    <a href="{% url 'shops:shop-info-edit' pk=shop.id %}" class="waves-effect"><i
                            class="fa fa-user m-r-10"
                            aria-hidden="true"></i>{% trans 'Данные магазина' %}</a>
                </li>
                <li>
                    <a href="{% url 'shops:crud-product' pk=shop.id %}" class="waves-effect"><i
                            class="fa fa-table m-r-10"
                            aria-hidden="true"></i>{% trans 'Список товаров' %}</a>
                </li>
                <li>
                    <a href="{% url 'shops:create-product' shop_pk=shop.id %}" class="waves-effect"
                    ><i
                            class="fa fa-table m-r-10"
                            aria-hidden="true"></i>{% trans 'Создать товар' %}</a>
                </li>
                <li>
                    <a href="{% url 'shops:order-list' shop_pk=shop.id %}" class="waves-effect"
                    ><i
                            class="fa fa-table m-r-10"
                            aria-hidden="true"></i>{% trans 'Заказы' %}</a>
                </li>
                <hr>
                <li>
                    <a href="{{ shop.get_absolute_url }}" class="waves-effect"><i
                            class="fa fa-table m-r-10"
                            aria-hidden="true"></i>{% trans 'На страницу магазина' %}</a>
                </li>
                <li>
                    <a href="{% url 'main:index' %}" class="waves-effect"><i
                            class="fa fa-table m-r-10"
                            aria-hidden="true"></i>{% trans 'На главную' %}</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>