{% load static %}
{% load i18n %}

{% block footer %}
    <div class="app-sidebar sidebar-shadow bg-vicious-stance sidebar-text-light">
        <div class="app-header__logo">
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                </button>
            </div>
        </div>

        <div class="scrollbar-sidebar">
            <div class="app-sidebar__inner">
                <ul class="vertical-nav-menu">
                    <li class="mt-3">
                        <a href="{% url 'delivery:index' %}"
                           class="mm{% if request.resolver_match.url_name == "index" %}-active {% endif %}">
                            <img src="{% static 'img/order.png' %}" alt="" style="padding-right: 10px">
                            {% trans 'Активные заказы' %}

                        </a>
                    </li>
                    <li class="mt-3">
                        <a href="{% url 'delivery:orders' %}"
                           class="mm{% if request.resolver_match.url_name == "orders" %}-active {% endif %}">
                            <img src="{% static 'img/order.png' %}" alt="" style="padding-right: 10px">
                            {% trans 'Список заказов' %}
                        </a>
                    </li>
                    <li class="mt-3">
                        <a href="{% url 'delivery:history' %}"
                           class="mm{% if request.resolver_match.url_name == "history" %}-active {% endif %}">
                            <img src="{% static 'img/order.png' %}" alt="" style="padding-right: 10px">
                            {% trans 'История заказов' %}
                        </a>
                    </li>

                </ul>
            </div>
            <hr>
            <form class="mt-2" action="{% url 'set_language' %}" method="post" style="padding-left: 60px">
                {% csrf_token %}
                <input name='next' type="hidden" value="{{ redirect_to }}">
                <select name="language" style="color: #495057; padding: 10px 10px; border-radius: 5px;
                 background-color: white; border: 1px solid #ced4da;">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}

                </select>
                <input class="btn" type="submit" value="Сменить"
                       style="color: #495057; background-color: white; padding-left: 5px">
            </form>
        </div>

    </div>

{% endblock %}